<template>
	<div class="page">
		<appnavbar left="Tenant Management / New Tenant Approval" :canBack="1" />
		<div class="body">
			<apppagetitle txt="Add New Tenant Approval" style="margin-bottom:30px;" />
			<!-- profile -->
			<div class="profile">
				<!-- left -->
				<div class="left">
					<el-image :src="info.image" fit="cover" :lazy="true"
						style="width: 198px;height: 198px;border-radius: 50%;overflow: hidden;">
					</el-image>

					<!-- add btn -->
					<el-link type="primary" style="margin-top:30px;">Edit Photo</el-link>
				</div>

				<!-- right -->
				<div class="right" style="width: 50%;">
					<!-- App name and des -->
					<div style="font-size: 60px;">{{info.name}}</div>
					<!-- 2 -->
					<appreadinput title="Description (optional)" style="margin-top: 20px;"
						:oldv="existingData.description" :newv="newData.description" />
				</div>
			</div>

			<!-- body -->
			<div style="margin-top: 40px;">
				<!-- item -->
				<div style="display: flex;align-items: center;margin-top: 40px;">
					<readitem keystr="Requested By" :value="info.startDate" />
					<div style="width: 40px;"></div>
					<readitem keystr="Requested Date" :value="info.endDate" />
				</div>
				<!-- item -->
				<div style="display: flex;align-items: center;margin-top: 40px;">
					<appreadinput title="Tenant Start Date" :oldv="existingData.startDate" :hidenew="1" />
					<div style="width: 40px;"></div>
					<appreadinput title="Tenant End Date" :oldv="existingData.endDate" :newv="newData.endDate" />
				</div>

				<!-- item -->
				<div style="display: flex;align-items: center;margin-top: 40px;">
					<appreadinput title="Tenant Secret" :oldv="existingData.secret" :newv="newData.secret" />
					<div style="width: 40px;"></div>
					<appreadinput title="Cert Endpoint" :olv="existingData.certendpoint" :newv="newData.certendpoint" />
				</div>
				<!-- item -->
				<div style="display: flex;align-items: center;margin-top: 40px;">
					<appreadinput title="Token Endpoint" :oldv="existingData.tokenendpoint"
						:newv="newData.tokenendpoint" />
					<div style="width: 40px;"></div>
					<appreadinput title="Auth Endpoint" :oldv="existingData.authendpoint"
						:newv="newData.authendpoint" />
				</div>
				<!-- item -->
				<div style="display: flex;align-items: center;margin-top: 40px;">
					<appreadinput title="UserInfo Endpoint" :oldv="existingData.userinfoendpoint"
						:newv="newData.userinfoendpoint" />
					<div style="width: 40px;"></div>
					<appreadinput title="Webhook URL" :oldv="existingData.webhookUrl" :newv="newData.webhookUrl" />
				</div>
				<!-- item -->
				<div style="display: flex;align-items: center;margin-top: 40px;">
					<appreadinput title="Add Role URL" :oldv="existingData.addRoleUrl" :newv="newData.addRoleUrl" />
					<div style="width: 40px;"></div>
					<appreadinput title="Delete Role URL" :oldv="existingData.deleteRoleRul"
						:new="newData.deleteRoleRul" />
				</div>

				<!-- URL -->
				<div style="display: flex;align-items: center;margin-top: 60px;">
					<div style="font-size: 25px;flex: 1;">
						Web Origin
						<div style="margin-top: 12px;height: 1px;background-color: #d6d6d6;margin-right: 40px;">
						</div>
					</div>
					<div style="font-size: 25px;flex: 1;">
						Authentication Callback URL
						<div style="margin-top: 12px;height: 1px;background-color: #d6d6d6;">
						</div>
					</div>
				</div>

				<!-- item -->
				<div style="display: flex;align-items: center;margin-top: 20px;">
					<div style="flex: 1;">
						<appreadinput :title="`Web Origin_${idx+1}`" :oldv="existingData.webOrigins[idx]"
							:newv="newData.webOrigins[idx]" v-for="(_,idx) in webOriginsNum" :key="idx" />
					</div>
					<div style="width: 40px;"></div>
					<div style="flex: 1;">
						<appreadinput :title="`Authentication Callback URL_${idx+1}`"
							:oldv="existingData.redirectUris[idx]" :newv="newData.redirectUris[idx]"
							v-for="(_,idx) in redirectUrisNum" :key="idx" />
					</div>
				</div>

				<!-- btn -->
				<div style="display: flex;align-items: center;margin-top: 40px;">
					<appbutton color="#007aff" label="Approve Add New Branch" @click.native="passHandle" />
					<div style="width: 40px;"></div>
					<appbutton @click.native="rejectHandle" color="red" label="Reject Add New Branch" />
				</div>

			</div>

		</div>
	</div>
</template>

<script>
	import {
		tenantpass,
		tenantreject
	} from "../../api/app_api.js";
	import readitem from "./view/app_read_self_item.vue";
	export default {
		components: {
			readitem,
		},
		mounted() {
			let {
				info
			} = this.$route.query;
			if (info == undefined) {
				this.$message.error("data error");
				setTimeout(() => {
					this.$router.go(-1);
				}, 2000);
				return;
			}
			this.info = info["approval"];
			let {
				approval
			} = info;
			this.newData = approval["newData"];
			this.existingData = approval["existingData"];

			if (this.newData.webOrigins == null || this.newData.webOrigins.length == 0) {
				this.newData.webOrigins = [];
				this.webOriginsNum = this.existingData.webOrigins.length;
			} else {
				this.webOriginsNum = this.newData.webOrigins.length;
			}

			if (this.newData.redirectUris == null || this.newData.redirectUris.length == 0) {
				this.newData.redirectUris = []
				this.redirectUrisNum = this.existingData.redirectUris.length;
			} else {
				this.redirectUrisNum = this.newData.redirectUris.length;
			}
		},
		data() {
			return {
				id: "",
				info: {},
				newData: {},
				existingData: {},

				webOriginsNum: 0,
				redirectUrisNum: 0,
			};
		},
		methods: {
			passHandle() {
				let {
					_id
				} = this.info;
				tenantpass(_id).then(() => {
					this.$message.success('Successful Operation');
					setTimeout(() => {
						this.$router.replace({
							path: "/applist"
						})
					}, 2000);
				}).catch((e) => {
					this.$message.error(e);
				});
			},
			rejectHandle() {
				let {
					_id
				} = this.info;
				tenantreject(_id).then(() => {
					this.$message.success('Successful Operation');
					setTimeout(() => {
						this.$router.replace({
							path: "/applist"
						})
					}, 2000);
				}).catch((e) => {
					this.$message.error(e);
				});
			}
		},
	};
</script>


<style scoped>
	.page {
		height: 100vh;
		overflow-y: auto;
	}

	.body {
		padding: 0 40px;
		padding-bottom: 30px;
	}

	.profile {
		display: flex;
		align-items: center;
	}

	.left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.right {
		padding: 0 80px;
	}
</style>
