<template>
	<div class="page" el-loading="loading">
		<appnavbar left="Tenant Management / Edit Tenant" :canBack="1" />

		<div class="body">
			<apppagetitle txt="Edit Tenant" style="margin-bottom:30px;" />
			<!-- profile -->
			<div class="profile">
				<!-- left -->
				<div class="left">
					<el-avatar icon="el-icon-user-solid" :size="198" shape="circle" :src="info.image" fit="fill">
					</el-avatar>
					<!-- add btn -->
					<el-link type="primary" style="margin-top:30px;">Edit Photo</el-link>
				</div>

				<!-- right -->
				<div class="right">
					<!-- App name and des -->
					<appinput title="Tenant Name *" :must="1" placeholder="Enter Tenant Name" :value.sync="info.name" />

					<!-- 2 -->
					<div style="margin-top:20px;">
						<appinput title="Description (optional)" :must="0"
							placeholder="Enter Tenant Description (optional)" :value.sync="info.description" />

					</div>
				</div>
			</div>

			<!-- body -->
			<div style="margin-top: 40px;">
				<!-- item -->
				<div style="display: flex;align-items: center;margin-top: 40px;">
					<appdateinput title="Tenant Start Date" style="flex:1;" :must="1" :value.sync="info.startDate" />
					<div style="width: 60px;"></div>
					<appdateinput title="Tenant End Date (optional)" style="flex:1;" :must="0"
						:value.sync="info.endDate" />
				</div>

				<!-- item -->
				<div style="display: flex;align-items: center;margin-top: 40px;">
					<appinput title="Add Role URL (mandatory for ultron)" style="flex:1" :value.sync="info.addRoleUrl"
						placeholder="Enter Userinfo Endpoint" />
					<div style="width: 60px;"></div>
					<appinput title="Delete Role URL (mandatory for ulron)" style="flex:1"
						:value.sync="info.deleteRoleUrl" placeholder="Enter Userinfo Endpoint" />
				</div>
				<!-- item -->
				<div style="display: flex;align-items: center;margin-top: 40px;">
					<appinput title="Webhook URL" style="flex:1" :must="1" placeholder="Enter Userinfo Endpoint"
						:value.sync="info.webhookUrl" />
					<div style="width: 60px;"></div>
					<div style="flex: 1;"></div>
				</div>

				<!-- URL -->
				<div style="display: flex;align-items: center;margin-top: 60px;">
					<div style="font-size: 25px;flex: 1;">
						Web Origin
						<span style="color: red;">*</span>
						<div style="margin-top: 12px;height: 1px;background-color: #d6d6d6;margin-right: 40px;">
						</div>
					</div>
					<div style="font-size: 25px;flex: 1;">
						Authentication Callback URL
						<span style="color: red;">*</span>

						<div style="margin-top: 12px;height: 1px;background-color: #d6d6d6;">
						</div>
					</div>
				</div>

				<!-- item -->
				<div style="display: flex;align-items: flex-start;">
					<div style="flex: 1;">
						<appinput style="margin-top: 20px;" :title="`Web Origin_${idx+1}`" placeholder="Web Origin URL"
							v-for="(obj,idx) in info.webOrigins" :key=" idx" :value.sync="obj.txt" />
						<!-- btn -->
						<div style="display: flex;">
							<div style="display: flex;align-items: center; cursor: pointer;margin-top: 20px;"
								@click="weborgHandle">
								<i class="Icon" style="color: #007aff;">add</i>
								<div style="color: #007aff;font-size: 15px;">Add Web Origin</div>
							</div>
						</div>
					</div>

					<div style="width: 60px;"></div>
					<div style="flex: 1;">
						<appinput style="margin-top: 20px;" :title="`Authentication Callback URL_${idx+1}`"
							placeholder="Authentication Callback URL" :value.sync="obj.txt"
							v-for="(obj,idx) in info.redirectUris" :key="idx" />
						<!-- btn -->
						<div style="display: flex;">
							<div style="display: flex;align-items: center;margin-top: 20px;cursor: pointer;"
								@click="webcallbackHandle">
								<i class="Icon" style="color: #007aff;">add</i>
								<div style="color: #007aff;font-size: 15px;">Add Auth Callback obj</div>
							</div>
						</div>
					</div>
				</div>

				<!-- btn -->
				<div style="display: flex;align-items: center;margin-top: 40px;">
					<appbutton color="#007aff" label="Submit for Approval" @click.native="submitHandle" />
					<div style="width: 40px;"></div>
					<appbutton color="#007aff" label="Cancel" @click.native="cancelHandle" />
				</div>

			</div>

		</div>
	</div>
</template>

<script>
	import {
		tenantupdate
	} from "../../api/app_api";
	export default {
		mounted() {
			this.info = this.$route.query;
			if (this.info == undefined) {
				this.$message.error("data error");
				setTimeout(() => {
					this.$router.go(-1);
				}, 2000);
				return;
			}

			let webs = [];
			for (let str of this.info.webOrigins) {
				webs.push({
					txt: str
				})
			}
			this.info.webOrigins = webs;

			let reds = [];
			for (let s of this.info.redirectUris) {
				reds.push({
					txt: s
				})
			}
			this.info.redirectUris = reds;

		},
		data() {
			return {
				loading: false,
				info: {
					name: "",
					description: "",
					image: "",
					startDate: "",
					endDate: "",
					addRoleUrl: "",
					deleteRoleUrl: "",
					webhookUrl: "",
					redirectUris: [],
					webOrigins: [],
				},
				// 提交的数据
				fm: {},
				arr: [],
			};
		},
		methods: {
			cancelHandle() {
				this.$router.go(-1);
			},

			submitHandle() {
				let {
					name,
					startDate,
					webhookUrl,
					webOrigins,
					redirectUris
				} = this.info;
				if (
					name.length == 0 ||
					startDate.length == 0 ||
					webhookUrl.length == 0 ||
					webOrigins.length == 0 ||
					redirectUris.length == 0
				) {
					this.$message.error("请填写必要字段");
					return;
				}

				let webo = webOrigins.map(obj => obj.txt)
				let redir = redirectUris.map(obj => obj.txt)


				this.fm = {
					...this.info
				};
				this.fm.webOrigins = webo;
				this.fm.redirectUris = redir;
				this.loading = true
				this.netTenantUpdate()
			},

			netTenantUpdate() {
				let {
					_id
				} = this.fm
				tenantupdate(_id, this.fm)
					.then(() => {
						this.loading = false
						this.$message.success("Successful Operation");
						setTimeout(() => {
							this.$router.replace({
								path: "/applist"
							});
						}, 2000);
					})
					.catch((e) => {
						this.loading = false
						this.$message.error(e);
					});
			},

			weborgHandle() {
				let arr = this.info.webOrigins;
				arr.push({
					txt: ""
				});
				this.info.webOrigins = arr;
			},

			webcallbackHandle() {
				let arr = this.info.redirectUris;
				arr.push({
					txt: ""
				});
				this.info.redirectUris = arr;
			},
		},
	};
</script>


<style scoped>
	.page {
		height: 100vh;
		overflow-y: auto;
	}

	.body {
		padding: 0 40px;
		padding-bottom: 30px;
	}

	.profile {
		display: flex;
		align-items: center;
	}

	.left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.right {
		flex: 1;
		padding: 0 80px;
	}
</style>
