<template>
	<div class="page">
		<appnavbar left="Tenant Management / View Tenant" :canBack="1" />
		<div class="body">
			<apppagetitle txt="View Details" style="margin-bottom:30px;" />
			<!-- profile -->
			<div class="profile">
				<!-- left -->
				<div class="left">
					<el-image :src="info.image" fit="cover" :lazy="true"
						style="width: 198px;height: 198px;border-radius: 50%;overflow: hidden;">
					</el-image>

					<!-- add btn -->
					<el-link type="primary" style="margin-top:30px;">Edit Photo</el-link>
				</div>

				<!-- right -->
				<div class="right">
					<!-- App name and des -->
					<div style="font-size: 60px;">{{info.name}}</div>
					<!-- 2 -->
					<div style="margin-top:20px;">
						<div style="font-size: 13px;color: rgba(60, 60, 67,0.6);">Description
							(optional)</div>
						<div style="font-size: 15px;margin-top: 10px;color: #080808;">
							{{info.description}}
						</div>
					</div>
				</div>
			</div>

			<!-- body -->
			<div style="margin-top: 40px;">
				<!-- item -->
				<div style="display: flex;align-items: center;margin-top: 40px;">
					<readitem keystr="Tenant Start Date" :value="info.startDate" />
					<readitem keystr="Tenant End Date" :value="info.endDate" />
				</div>

				<!-- item -->
				<div style="display: flex;align-items: center;margin-top: 40px;">
					<readitem keystr="Tenant Secret" :value="info.secret" />
					<readitem keystr="Cert Endpoint" :value="info.certendpoint" />
				</div>
				<!-- item -->
				<div style="display: flex;align-items: center;margin-top: 40px;">
					<readitem keystr="Token Endpoint" :value="info.tokenendpoint" />
					<readitem keystr="Auth Endpoint" :value="info.authendpoint" />
				</div>
				<!-- item -->
				<div style="display: flex;align-items: center;margin-top: 40px;">
					<readitem keystr="UserInfo Endpoint" :value="info.userinfoendpoint" />
					<readitem keystr="Webhook URL" :value="info.webhookurl" />
				</div>
				<!-- item -->
				<div style="display: flex;align-items: center;margin-top: 40px;">
					<readitem keystr="Add Role URL" :value="info.addRoleUrl" />
					<readitem keystr="Delete Role URL" value="info.deleteRoleRul" />
				</div>

				<!-- URL -->
				<div style="display: flex;align-items: center;margin-top: 60px;">
					<div style="font-size: 25px;flex: 1;">
						Web Origin
						<div style="margin-top: 12px;height: 1px;background-color: #d6d6d6;margin-right: 40px;">
						</div>
					</div>
					<div style="font-size: 25px;flex: 1;">
						Authentication Callback URL
						<div style="margin-top: 12px;height: 1px;background-color: #d6d6d6;">
						</div>
					</div>
				</div>

				<!-- item -->
				<div style="display: flex;align-items: center;margin-top: 20px;" v-for="(item,idx) in info.webOrigins"
					:key="idx">
					<readitem :keystr="`Web Origin_${idx+1}`" :value="item" />
					<readitem :keystr="`Authentication Callback URL_${idx+1}`" :value="info.redirectUris[idx]" />
				</div>

				<!-- btn -->

				<!-- btn -->
				<div v-if="done">
					<div style="display: flex;align-items: center;margin-top: 40px;" v-if="info['statusCode']==1">
						<appbutton color=" #007aff" label="Back" @click.native="backHandle" />
					</div>
					<div style="display: flex;align-items: center;margin-top: 40px;" v-else>
						<appbutton color="#007aff" label="Edit Tenant" @click.native="editHandle" />
						<div style="width: 40px;"></div>
						<appbutton color="red" label="Delete Tenant" @click.native="delHandle" />
					</div>
				</div>

			</div>

		</div>
	</div>
</template>

<script>
	import {
		tenantdetail,
		tenantdel
	} from "@/api/app_api.js";
	import readitem from "./view/app_read_self_item.vue";
	export default {
		components: {
			readitem,
		},
		mounted() {
			let {
				id
			} = this.$route.query;
			this.id = id;
			if (this.id == undefined || this.id.length == 0) {
				this.$message.error("data error");
				setTimeout(() => {
					this.$router.go(-1);
				}, 2000);
				return;
			}
			this.netTenantDetail();
		},
		data() {
			return {
				done:false,
				id: "",
				info: {},
			};
		},
		methods: {
			backHandle() {
				this.$router.go(-1);
			},
			netTenantDetail() {
				let self = this;
				tenantdetail(this.id)
					.then((response) => {
						self.done = true;
						self.info = response;
					})
					.catch((e) => {
						self.info = {};
						console.error(e);
					});
			},
			editHandle() {
				this.$router.push({
					path: "/appedit",
					query:this.info,
				});
			},
			delHandle() {
				this.showConfirm("Are you sure you delete ?", () => {
					this.netTenantDel();
				});
			},
			netTenantDel() {
				tenantdel(this.id)
					.then(() => {
						this.$message.success("Successful Operation");
						setTimeout(() => {
							this.$router.replace({
								path: "/applist",
							});
						}, 2000);
					})
					.catch((e) => {
						this.$message.error(e);
					});
			},
		},
	};
</script>


<style scoped>
	.page {
		height: 100vh;
		overflow-y: auto;
	}

	.body {
		padding: 0 40px;
		padding-bottom: 30px;
	}

	.profile {
		display: flex;
		align-items: center;
	}

	.left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.right {
		flex: 1;
		padding: 0 80px;
	}
</style>
