<template>
        <div class="page">
                <!-- table -->
                <el-table :data="list" @row-click="cellSelectHandle">
                        <el-table-column prop="subsidiary" min-width="230">
                                <template #header>
                                        <apptabletitle :status="colsStatus[0]" :idx="0" label="SUBSIDIARY" />
                                </template>
                        </el-table-column>

                        <el-table-column prop="name" min-width="230" label="123">
                                <template slot="header">
                                        <apptabletitle :status="colsStatus[1]" :idx="1" label="BRANCH NAME" />
                                </template>
                        </el-table-column>

                        <el-table-column prop="code" min-width="230" label="123">
                                <template slot="header">
                                        <apptabletitle :status="colsStatus[2]" :idx="2" label="BRANCH CODE" />
                                </template>
                        </el-table-column>

                        <el-table-column prop="location" min-width="230" label="123">
                                <template slot="header">
                                        <apptabletitle :status="colsStatus[3]" :idx="3" label="LOCATION" />
                                </template>
                        </el-table-column>

                        <el-table-column prop="creatorName" min-width="230" label="123">
                                <template slot="header">
                                        <apptabletitle :status="colsStatus[4]" :idx="4" label="CREATED BY" />
                                </template>
                        </el-table-column>

                        <el-table-column prop="approvedName" min-width="230" label="123">
                                <template slot="header">
                                        <apptabletitle :status="colsStatus[5]" :idx="5" label="APPROVED BY" />
                                </template>
                        </el-table-column>

                        <el-table-column prop="startDate" min-width="230" label="123">
                                <template slot="header">
                                        <apptabletitle :status="colsStatus[6]" :idx="6" label="START DATE" />
                                </template>
                        </el-table-column>

                        <el-table-column prop="endDate" min-width="230" label="123">
                                <template slot="header">
                                        <apptabletitle :status="colsStatus[7]" :idx="7" label="END DATE" />
                                </template>
                        </el-table-column>

                        <el-table-column prop="statusCode" min-width="230" label="123">
                                <template slot="header">
                                        <apptabletitle :status="colsStatus[8]" :idx="8" label="APPROVAL STATUS" />
                                </template>
                                <template slot-scope="{row}">
                                        <div style="display: flex;align-items: center;">
                                                <div
                                                        :style="{'marginRight': '5px','width': '10px','height': '10px','backgroundColor':scolor(row.statusCode),'borderRadius': '5px',}">
                                                </div>
                                                <div>{{row["statusName"]}}</div>
                                        </div>
                                </template>
                        </el-table-column>

                </el-table>
        </div>
</template>

<script>
        import { branchlist } from "@/api/branch_api.js";
        export default {
                props: ["kw"],
                mounted() {
                        this.sortInit();
                        this.netBranchList();
                },
                watch: {
                        kw: {
                                handler: function (nl, ol) {
                                        console.log(ol, nl);
                                        this.fi["_keyword"] = nl;
                                        this.list = [];
                                        this.netBranchList();
                                },
                        },
                },
                data() {
                        return {
                                clientId: "",
                                statusColor: "#ff0000",
                                fi: {
                                        _page: 1,
                                        _pageSize: 50,
                                        _keyword: undefined,
                                        clientId: undefined,
                                        period: undefined,
                                        _orderby: undefined,
                                },
                                sortkeys: [
                                        "subsidiary",
                                        "name",
                                        "code",
                                        "location",
                                        "creatorName",
                                        "approvedName",
                                        "startDate",
                                        "endDate",
                                        "statusCode",
                                ],
                                list: [],
                                colsStatus: [0, 0, 0, 0, 0, 0, 0, 0, 0],
                                tabIdx: 0,
                        };
                },
                methods: {
                        sortInit() {
                                let self = this;
                                this.$bus.$on("sortHandle", (idx, e) => {
                                        let arr = [0, 0, 0, 0, 0, 0];
                                        arr[idx] = e;
                                        self.colsStatus = arr;

                                        self.fi["period"] = self.sortkeys[idx];
                                        if (e == 1) {
                                                self.fi["_orderby"] = `${self.sortkeys[idx]} asc`;
                                        } else {
                                                self.fi["_orderby"] = `${self.sortkeys[idx]} desc`;
                                        }
                                        self.list = [];
                                        self.netBranchList();
                                });
                        },
                        netBranchList() {
                                let self = this;
                                branchlist(this.fi)
                                        .then((response) => {
                                                let { list } = response;
                                                self.list = list;
                                                console.log("============数据========================");
                                                console.log(response);
                                                console.log("====================================");
                                        })
                                        .catch((e) => {
                                                self.list = [];
                                                console.error(e);
                                        });
                        },
                        cellSelectHandle(row) {
                                //该行的数据
                                console.log(row);
                                this.$router.push({
                                        path: "/branchread",
                                        query: {
                                                id: row["_id"],
                                        },
                                });
                        },

                        addBtnClickHandle() {
                                this.$router.push({
                                        path: "/branchadd",
                                });
                        },

                        tabOnTap(idx) {
                                this.tabIdx = idx;
                        },

                        scolor(idx) {
                                return window.scolors[idx];
                        }



                },
        };
</script>

<style>
        .el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar-thumb {
                background-color: #999999 !important;
                height: 10px;
                border-radius: 5px;
        }

        .el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar {
                background-color: #ebebeb !important;
                height: 10px;
        }

        .el-table th.el-table__cell>.cell {
                padding-left: 0 !important;
        }

        /* 滑块颜色 */
</style>

<style scoped>
</style>