<template>
  <div class="page">
    <appnavbar left="Branch Management" />
    <div class="body">
      <apppagetitle txt="Branch Management" />
      <!-- apps -->
      <activeuser />

      <!-- search -->
      <appsearch
        style="margin-top: 20px;"
        :btn="1"
        btnlabel="Add Branch"
        :vmodel.sync="searchModel"
        @done="searchHandle"
        @click="addBtnClickHandle"
      />

      <!-- tab -->
      <apptab
        :items="['BRANCH LIST','APPROVAL LIST']"
        :idx="tabIdx"
        @onTap="tabOnTap"
        style="margin-top: 40px;"
      />
      <!-- table -->
      <leftlist
        v-if="tabIdx==0"
        :kw="leftKey"
      />
      <rightlist
        v-else
        :kw="rightKey"
      />
    </div>

  </div>
</template>

<script>
import leftlist from "./branch_left_list.vue";
import rightlist from "./branch_right_list.vue";
import activeuser from "@/components/active_user.vue";
export default {
  components: {
    leftlist,
    rightlist,
    activeuser,
  },
  mounted() {},
  data() {
    return {
      clientId: "",
      tabIdx: 0,
      searchModel: "",
      leftKey: "",
      rightKey: "",
    };
  },
  methods: {
    addBtnClickHandle() {
      this.$router.push({
        path: "/branchadd",
      });
    },

    tabOnTap(idx) {
      this.tabIdx = idx;
    },
    searchHandle() {
      if (this.tabIdx == 0) {
        this.leftKey = this.searchModel;
      } else {
        this.rightKey = this.searchModel;
      }
    },
  },
};
</script>

<style>
.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar-thumb {
  background-color: #999999 !important;
  height: 10px;
  border-radius: 5px;
}

.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar {
  background-color: #ebebeb !important;
  height: 10px;
}

.el-table th.el-table__cell > .cell {
  padding-left: 0 !important;
}

/* 滑块颜色 */
</style>

<style scoped>
.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  padding: 0 40px;
  flex: 1;
  overflow-y: auto;
}
</style>