<template>
    <div class="page">
        <appnavbar left="Branch Management / Add Branch" :canBack="1" />
        <div class="body">
            <div style="flex: 1;">
                <apppagetitle txt="Add New Branch" />
                <!-- items -->
                <div style="margin-top: 40px;display: flex;align-items: center;">
                    <appinput title="Branch Name" :must="1" :value.sync="info['name']" style="flex:1;" />
                    <div style="width: 40px;"></div>
                    <appinput title="Subsidiary" :must="1" :value.sync="info['subsidiary']" style="flex:1;" />
                </div>
                <!-- items -->
                <div style="margin-top: 40px;display: flex;align-items: center;">
                    <appinput title="Branch Code (optional)" :must="0" :value.sync="info['code']" style="flex:1;" />
                    <div style="width: 40px;"></div>
                    <appinput title="Branch Location" :must="1" :value.sync="info['location']" style="flex:1;" />
                </div>
                <!-- items -->
                <div style="margin-top: 40px;display: flex;align-items: center;">
                    <appdateinput title="Branch Start Date" :must="1" :value.sync="info['startDate']" style="flex:1;" />
                    <div style="width: 40px;"></div>
                    <appdateinput title="Branch End Date (optional)" :must="0" :value.sync="info['endDate']"
                        style="flex:1;" />
                </div>

            </div>

            <!-- btn -->
            <div style="display: flex;align-items: center;margin-top: 40px;">
                <appbutton color="#007aff" label="Submit for Approval" @click.native="saveHandle" />
                <div style="width: 40px;"></div>
                <appbutton color="#007aff" label="Cancel" @click.native="cancelHandle" />
            </div>

        </div>

    </div>
</template>

<script>
    import { branchadd } from "@/api/branch_api.js";
    export default {
        mounted() { },
        data() {
            return {
                info: {
                    name: "",
                    subsidiary: "",
                    code: "",
                    location: "",
                    startDate: "",
                    endDate: "",
                },
            };
        },
        methods: {
            saveHandle() {
                let { name, subsidiary, location, startDate, } = this.info;
                if (name.length != 0 && subsidiary.length != 0 && location.length != 0 && startDate.length != 0) {
                    this.netBranchAdd();
                } else {
                    this.$message.error('请填写必要字段');
                }
            },
            cancelHandle() {
                this.$router.go(-1);
            },

            netBranchAdd() {
                branchadd(this.info).then(() => {
                    this.$message.success('Successful Operation');
                    setTimeout(() => {                            
                            this.$router.replace({
                                path: "/branchlist"
                            })
                    }, 2000);
                })
                    .catch((e) => {
                        this.$message.error(e);
                    });
            }

        },
    };
</script>




<style scoped>
    .page {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .body {
        flex: 1;
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }
</style>