<template>
    <div class="page">
        <appnavbar left="Branch Management / Branch Approval" :canBack="1" />

        <div class="body">
            <div style="flex: 1;">
                <apppagetitle txt="Add New Branch Approval" />
                <!-- items -->
                <div style="margin-top: 40px;display: flex;align-items: center;">
                    <appreaditem keystr="Requested By" :value="info['creatorName']" />
                    <appreaditem keystr="Approved By" :value="info['approvedId']" />
                    <div style="flex:1" />
                </div>
                <!-- items -->

                <div style="margin-top: 40px;display: flex;align-items: center;">
                    <appreaditem keystr="Branch Name" :value="info['name']" />
                    <appreaditem keystr="Subsidiary" :value="info['subsidiary']" />
                    <appreaditem keystr="Branch Code" :value="info['code']" />
                </div>
                <!-- items -->

                <div style="margin-top: 40px;display: flex;align-items: center;">
                    <appreaditem keystr="Branch Location" :value="info['location']" />
                    <appreaditem keystr="Start Date" :value="info['startDate']" />
                    <appreaditem keystr="End Date" :value="info['endDate']" />
                </div>
            </div>

            <!-- btn -->
            <div style="display: flex;align-items: center;margin-top: 40px;">
                <appbutton color="#007aff" label="Approve Add New Branch" @click.native="passHandle" />
                <div style="width: 40px;"></div>
                <appbutton color="red" label="Reject Add New Branch" @click.native="rejectHandle" />
            </div>
        </div>

    </div>
</template>

<script>
    import { branchpass, branchreject } from "@/api/branch_api.js";
    export default {
        mounted() {
            let { info } = this.$route.query;
            this.info = info;
            if (this.info == undefined) {
                this.$message.error("data error");
                setTimeout(() => {
                    this.$router.go(-1);
                }, 2000);
                return;
            }
        },
        data() {
            return {
                info: {
                    creatorName: "",
                    approverName: "",
                    name: "",
                    subsidiary: "",
                    code: "",
                    location: "",
                    startDate: "",
                    endDate: "",
                    statusCode: "",
                },
            };
        },
        methods: {
            editHandle() {
                this.$router.push({
                    path: "/branchedit",
                });
            },
            passHandle() {
                let { _id } = this.info;
                branchpass(_id).then(() => {
                    this.$message.success('Successful Operation');
                    setTimeout(() => {
                        this.$router.replace({
                            path: "/branchlist"
                        })
                    }, 2000);
                }).catch((e) => {
                    this.$message.error(e);
                });
            },
            rejectHandle() {
                let { _id } = this.info;
                branchreject(_id).then(() => {
                    this.$message.success('Successful Operation');
                    setTimeout(() => {
                        this.$router.replace({
                            path: "/branchlist"
                        })
                    }, 2000);
                }).catch((e) => {
                    this.$message.error(e);
                });
            }
        },
    };
</script>




<style scoped>
    .page {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .body {
        flex: 1;
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }
</style>