<template>
	<div class="page">
		<appnavbar left="Branch Management / View Branch" :canBack="1" />

		<div class="body">
			<div style="flex: 1;">
				<apppagetitle txt="View Branch" />
				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreaditem keystr="Requested By" :value="info['creatorName']" />
					<appreaditem keystr="Approved By" :value="info['approverName']" />
					<div style="flex:1" />
				</div>
				<!-- items -->

				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreaditem keystr="Branch Name" :value="info['name']" />
					<appreaditem keystr="Subsidiary" :value="info['subsidiary']" />
					<appreaditem keystr="Branch Code" :value="info['code']" />
				</div>
				<!-- items -->

				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreaditem keystr="Branch Location" :value="info['location']" />
					<appreaditem keystr="Start Date" :value="info['startDate']" />
					<appreaditem keystr="End Date" :value="info['endDate']" />
				</div>
			</div>

			<!-- btn -->
			<div v-if="done">
				<div style="display: flex;align-items: center;margin-top: 40px;" v-if="info['statusCode']==1">
					<appbutton color=" #007aff" label="Back" @click.native="backHandle" />
				</div>
				<div style="display: flex;align-items: center;margin-top: 40px;" v-else>
					<appbutton color="#007aff" label="Edit Branch" @click.native="editHandle" />
					<div style="width: 40px;"></div>
					<appbutton color="red" label="Delete Branch" @click.native="delHandle" />
				</div>
			</div>

		</div>

	</div>
</template>

<script>
	import {
		branchdetail,
		branchdel
	} from "@/api/branch_api.js";
	export default {
		mounted() {
			let {
				id
			} = this.$route.query;
			this.id = id;
			if (this.id == undefined || this.id.length == 0) {
				this.$message.error("data error");
				setTimeout(() => {
					this.$router.go(-1);
				}, 2000);
				return;
			}
			this.netBranchDetail();
		},
		data() {
			return {
				done: false,
				id: "",
				info: {
					creatorName: "",
					approverName: "",
					name: "",
					subsidiary: "",
					code: "",
					location: "",
					startDate: "",
					endDate: "",
					statusCode: "",
				},
			};
		},
		methods: {
			backHandle() {
				this.$router.go(-1);
			},
			netBranchDetail() {
				let self = this;
				branchdetail(this.id)
					.then((response) => {
						self.info = response;
						self.done = true;
					})
					.catch((e) => {
						self.done = true;
						console.error(e);
					});
			},
			netBranchDel() {
				branchdel(this.id)
					.then(() => {
						this.$message.success("Successful Operation");
						setTimeout(() => {
							this.$router.replace({
								path: "/branchlist",
							});
						}, 2000);
					})
					.catch((e) => {
						this.$message.error(e);
					});
			},
			editHandle() {
				this.$router.push({
					path: "/branchedit",
					query: this.info,
				});
			},
			delHandle() {
				this.showConfirm("Are you sure you delete ?", () => {
					this.netBranchDel();
				});
			},
		},
	};
</script>




<style scoped>
	.page {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.body {
		flex: 1;
		padding: 0 40px;
		display: flex;
		flex-direction: column;
		padding-bottom: 30px;
	}
	/* ipad */
	@media screen and (max-width: 1180px) {
		.page {
			flex: 1;
		}
	}
</style>
