<template>
	<div class="page">
		<appnavbar left="Branch Management / Edit Branch Approval" :canBack="1" />

		<div class="body">
			<div style="flex: 1;">
				<apppagetitle txt="Edit Branch Approval" />
				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreaditem keystr="Requested By" :value="info['creatorName']" />
					<div style="width: 40px;"></div>
					<appreaditem keystr="Approved By" :value="info['approvedId']" />
				</div>
				<!-- items -->

				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreadinput title="Branch Name" :oldv="info['name']" :hidenew="true" />
					<div style="width: 40px;"></div>
					<appreadinput title="Subsidiary" :oldv="existingData['subsidiary']" :newv="newData['subsidiary']" />
				</div>
				<!-- items -->

				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreadinput :oldv="existingData.code" :newv="newData.code" title="Branch Code" />
					<div style="width: 40px;"></div>
					<appreadinput :oldv="existingData['location']" :newv="newData['location']"
						title="Branch Location" />
				</div>
				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreadinput :oldv="existingData['startDate']" :newv="newData['startDate']" title="Start Date" />
					<div style="width: 40px;"></div>
					<appreadinput :oldv="existingData['endDate']" :newv="newData['endDate']" title="End Date" />
				</div>

			</div>

			<!-- btn -->
			<div style="display: flex;align-items: center;margin-top: 40px;">
				<appbutton color="#007aff" label="Approve Edit Branch" @click.native="passHandle" />
				<div style="width: 40px;"></div>
				<appbutton color="red" label="Reject Edit Branch" @click.native="rejectHandle" />
			</div>

		</div>

	</div>
</template>

<script>
	import {
		branchpass,
		branchreject
	} from "@/api/branch_api.js";
	export default {
		mounted() {
			let {
				info
			} = this.$route.query;

			if (info == undefined) {
				this.$message.error("data error");
				setTimeout(() => {
					this.$router.go(-1);
				}, 2000);
				return;
			}
			let {
				approval
			} = info;
			this.info = info;
			this.newData = approval["newData"];
			this.existingData = approval["existingData"];
		},
		data() {
			return {
				info: {},
				newData: {
					_id: "",
					code: "",
					name: "",
					syncAt: "",
					endDate: "",
					syncMsg: "",
					location: "",
					syncFlag: "",
					createdAt: "",
					creatorId: "",
					deletedAt: "",
					startDate: "",
					updatedAt: "",
					approvalId: "",
					approvedAt: "",
					approvedId: "",
					statusCode: "",
					statusName: "",
					subsidiary: "",
					creatorName: "",
				},
				existingData: {
					_id: "",
					code: "",
					name: "",
					syncAt: "",
					endDate: "",
					syncMsg: "",
					location: "",
					syncFlag: "",
					createdAt: "",
					creatorId: "",
					deletedAt: "",
					startDate: "",
					updatedAt: "",
					approvalId: "",
					approvedAt: "",
					approvedId: "",
					statusCode: "",
					statusName: "",
					subsidiary: "",
					creatorName: "",
				},
			};
		},
		methods: {
			backHandle() {
				this.$router.go(-1);
			},
			editHandle() {
				this.$router.push({
					path: "/branchedit",
				});
			},
			passHandle() {
				let {
					_id
				} = this.info;
				branchpass(_id)
					.then(() => {
						this.$message.success("Successful Operation");
						this.$router.replace({
							path: "/branchlist",
						});
					})
					.catch((e) => {
						this.$message.error(e);
					});
			},
			rejectHandle() {
				let {
					_id
				} = this.info;
				branchreject(_id)
					.then(() => {
						this.$message.success("Successful Operation");
						this.$router.replace({
							path: "/branchlist",
						});
					})
					.catch((e) => {
						this.$message.error(e);
					});
			},
		},
	};
</script>




<style scoped>
	.page {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.body {
		flex: 1;
		padding: 0 40px;
		display: flex;
		flex-direction: column;
		padding-bottom: 30px;
	}
</style>
