<template>
	<div class="page">
		<appnavbar left="Branch Management / View Branch / Edit Branch" :canBack="1" />
		<div class="body">
			<div style="flex: 1;">
				<apppagetitle txt="Edit Branch" />
				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appinput title="Branch Name" :must="1" :value.sync="info.name" style="flex:1;" />
					<div style="width: 40px;"></div>
					<appinput title="Subsidiary" :must="1" :value.sync="info.subsidiary" style="flex:1;" />
				</div>
				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appinput title="Branch Code (optional)" :must="0" :value.sync="info.code" style="flex:1;" />
					<div style="width: 40px;"></div>
					<appinput title="Branch Location" :must="1" :value.sync="info.location" style="flex:1;" />
				</div>
				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appdateinput title="Branch Start Date" :must="1" :value.sync="info.startDate" style="flex:1;" />
					<div style="width: 40px;"></div>
					<appdateinput title="Branch End Date (optional)" :must="0" :value.sync="info.endDate"
						style="flex:1;" />
				</div>

			</div>

			<!-- btn -->
			<div style="display: flex;align-items: center;margin-top: 40px;">
				<appbutton color="#007aff" label="Submit for Approval" @click.native="submitHandle" />
				<div style="width: 40px;"></div>
				<appbutton @click.native="cancelHandle" color="#007aff" label="Cancel" />
			</div>

		</div>

	</div>
</template>

<script>
	import {
		branchupdate
	} from "../../api/branch_api";
	export default {
		mounted() {
			this.info = this.$route.query;
			if (this.info == undefined) {
				this.$message.error("data error");
				setTimeout(() => {
					this.$router.go(-1);
				}, 2000);
				return;
			}
		},
		data() {
			return {
				info: {},
			};
		},
		methods: {
			cancelHandle() {
				this.$router.go(-1);
			},
			submitHandle() {
				let {
					name,
					subsidiary,
					location,
					startDate
				} = this.info;
				if (
					name.length != 0 &&
					subsidiary.length != 0 &&
					location.length != 0 &&
					startDate.length != 0
				) {
					let {
						_id
					} = this.info;
					branchupdate(_id, this.info)
						.then(() => {
							this.$message.success("Successful Operation");
							setTimeout(() => {
								this.$router.replace({
									path: "/branchlist",
								});
							}, 2000);
						})
						.catch((e) => {
							this.$message.error(e);
						});
				} else {
					this.$message.error("请填写必要字段");
				}
			},
		},
	};
</script>




<style scoped>
	.page {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.body {
		flex: 1;
		padding: 0 40px;
		display: flex;
		flex-direction: column;
		padding-bottom: 30px;
	}
</style>
