<template>
  <div class="view">
    <div class="oldv">{{oldv}}</div>
    <div class="newv">{{newv}}</div>
  </div>
</template>

<script>
export default {
  props: ["newv", "oldv"],
  mounted() {},
  data() {
    return {};
  },
  methods: {},
};
</script>


<style scoped>
.view {
  padding: 0;
}
.oldv {
  color: #646464;
  font-size: 11px;
}
.newv {
  margin-top: 12px;
  color: #007aff;
  font-size: 11px;
}
</style>