<template>
  <div class="view">
    <el-tag
      v-for="(item,idx) in showValues"
      :key="idx"
      type="info"
      :color="index==idx?'#d3d4d6':'#ffffff'"
      style="margin-right: 12px;cursor: pointer;"
    >
      {{ item }}
    </el-tag>
  </div>
</template>

<script>
export default {
  props: ["index"],
  mounted() {},
  data() {
    return {
      showValues: [
        "Today",
        "Last Week",
        "Last Month",
        "Last 3 Month",
        "Last 6 Month",
      ],
      values: ["Today", "LastWeek", "LastMonth", "Last3Month", "Last6Month"],
    };
  },
  methods: {},
};
</script>



<style scoped>
.view {
  margin-top: 20px;
}
</style>