.swiper-slide{width:auto!important}.swiper-container{margin-left:0!important}.app-body[data-v-37d73a01]{margin-top:20px;overflow-x:auto;display:flex;justify-content:flex-start}.app-body[data-v-37d73a01]::-webkit-scrollbar{width:0!important;height:0!important}