<template>
    <div class="page">
        <appnavbar left="User Management / View User" :canBack="1" />
        <div class="body">
            <div style="margin-bottom: 30px;">
                <div style="color:#646464;font-size:30px;font-weight: bold;">Activity Time</div>
                <div style="color:#646464;font-size:18px;margin-top: 10px;">{{model.activityTime}} </div>
            </div>
            <!-- profile -->
            <div class="profile">
                <!-- left -->
                <div class="left">
                    <el-image :src="info.image" fit="cover" :lazy="true"
                        style="width: 236px;height: 236px;border-radius: 50%;overflow: hidden;">
                    </el-image>
                </div>

                <!-- right -->
                <div class="right">
                    <!-- 1 -->
                    <div>
                        <div style="font-size: 50px;font-weight: bold;">{{info.name}}</div>
                        <div style="font-size: 50px;font-weight: bold;">Test BAZLA BINTI SUHAILI</div>
                    </div>
                    <!-- 2 -->
                    <div style="display: flex;align-items: center;margin-top:20px;
                                                min-width: 70%;">
                        <appreaditem keystr="OTP Phone Number" :value="info.phone" style="flex: 1;" />
                        <appreaditem keystr="Email Address" :value="info.email" style="flex: 2;" />
                    </div>

                    <!-- 3 -->
                    <div style="display: flex;align-items: center;margin-top:20px;
                                        min-width: 70%;">
                        <appreaditem keystr="User Name" :value="info.userName" style="flex: 1;" />
                        <appreaditem keystr="User SamAccountName Logon" :value="info.description" style="flex: 2;" />

                    </div>
                </div>
            </div>
            <!-- table -->
            <div class="table">
                <el-table :data="list" class="etable">
                    <el-table-column min-width="230">
                        <template #header>
                            <apptabletitle :idx="0" label="RECORD TYPE" />
                        </template>
                        <template>
                            <detalcell newv="NEW" oldv="EXISTING" />
                        </template>

                    </el-table-column>

                    <el-table-column min-width="230" label="123">
                        <template slot="header">
                            <apptabletitle :idx="1" label="IP NAME" />
                        </template>
                        <template slot-scope="{row}">
                            <detalcell :newv="row.newData.ipName" :oldv="row.existingData.ipName" />
                        </template>
                    </el-table-column>

                    <el-table-column min-width="230" label="123">
                        <template slot="header">
                            <apptabletitle :idx="2" label="IP ADDRESS" />
                        </template>
                        <template slot-scope="{row}">
                            <detalcell :newv="row.newData.ipAddress" :oldv="row.existingData.ipAddress" />

                        </template>
                    </el-table-column>

                    <el-table-column min-width="230" label="123">
                        <template slot="header">
                            <apptabletitle :idx="3" label="START DATE" />
                        </template>
                        <template slot-scope="{row}">
                            <detalcell :newv="row.newData.startDate" :oldv="row.existingData.startDate" />
                        </template>
                    </el-table-column>

                    <el-table-column min-width="230" label="123">
                        <template slot="header">
                            <apptabletitle :idx="4" label="END DATE" />
                        </template>
                        <template slot-scope="{row}">
                            <detalcell :newv="row.newData.endDate" :oldv="row.existingData.endDate" />
                        </template>
                    </el-table-column>

                    <el-table-column min-width="230" label="123">
                        <template slot="header">
                            <apptabletitle :idx="5" label="REQUESTED BY" />
                        </template>
                        <template slot-scope="{row}">
                            <detalcell :newv="row.newData.requestBy" :oldv="row.existingData.requestBy" />
                        </template>
                    </el-table-column>

                    <el-table-column min-width="230" label="123">
                        <template slot="header">
                            <apptabletitle :idx="6" label="REQUEST DATE" />
                        </template>
                        <template slot-scope="{row}">
                            <detalcell :newv="row.newData.requestDate" :oldv="row.existingData.requestDate" />
                        </template>
                    </el-table-column>

                </el-table>
            </div>

        </div>
    </div>
</template>

<script>
    import { userdetail } from "@/api/user_api.js";
    import detalcell from "./view/detail_cell"

    export default {
        mounted() {
            let info = this.$route.query;
            this.model = info;
            this.list = [info];
        },
        components: {
            detalcell,
        },
        data() {
            return {
                model: {},


                list: [1, 1, 1, 1, 1],
                info: {
                    _id: "2593ec8ed577f587c1cb106075668dae",
                    name: "-",
                    image:
                        "https://tse1-mm.cn.bing.net/th/id/R-C.5c044da9508211bf1ff44d996824cd5a?rik=oBfxxrbYDhMh4Q&riu=http%3a%2f%2fimage.qianye88.com%2fpic%2f4c11ee84ffc0a357077ee1f17f031afc&ehk=cWBo45ZMkSVNT4mlS2b8MmJVY8DE9seQYFmXe%2f7rTcw%3d&risl=&pid=ImgRaw&r=0",
                    phone: "-",
                    email: "-",
                    userName: "-",
                    description: "-",
                    authUserId: "0f758e69-8c6d-43dd-b490-92931136b65c",
                    statusCode: 2,
                    statusName: "Approved",
                    creatorId: "1",
                    creatorName: "jacky",
                    approverId: null,
                    approvedAt: null,
                    createdAt: "2021-12-20 22:32:39",
                    updatedAt: "2021-12-20 22:32:39",
                    deletedAt: null,
                    syncFlag: 0,
                    syncAt: null,
                    syncMsg: null,
                    approvalId: null,
                    ipList: [
                        {
                            _id: "114ed1a47add65fcb6f72adc3cb24dda",
                            userId: "2593ec8ed577f587c1cb106075668dae",
                            ipId: "61391f2f4388115df0e1eecfa17ac43c",
                            startDate: "2021-12-20",
                            endDate: "2022-11-12",
                            statusCode: 1,
                            statusName: "Approved wait",
                            creatorId: "1",
                            creatorName: "jacky",
                            approverId: null,
                            approvedAt: null,
                            createdAt: "2021-12-20 22:32:40",
                            updatedAt: "2021-12-20 22:32:40",
                            deletedAt: null,
                            syncFlag: 0,
                            syncAt: null,
                            syncMsg: null,
                            approvalId: null,
                            ipName: "ip21",
                            approval: {
                                _id: "e6cedb7f7323d89f6302d40a63cbf7b0",
                                refId: "114ed1a47add65fcb6f72adc3cb24dda",
                                resourceType: "USERIP",
                                operationType: "create",
                                statusCode: 1,
                                creatorId: "1",
                                creatorName: "jacky",
                                existingData: "",
                                newData: {
                                    _id: "114ed1a47add65fcb6f72adc3cb24dda",
                                    ipId: "61391f2f4388115df0e1eecfa17ac43c",
                                    ipName: null,
                                    userId: "2593ec8ed577f587c1cb106075668dae",
                                    endDate: "2022-11-12",
                                    createdAt: "2021-12-20 22:32:40",
                                    creatorId: "1",
                                    startDate: "2021-12-20",
                                    updatedAt: "2021-12-20 22:32:40",
                                    approvalId: null,
                                    statusCode: 1,
                                    statusName: "Approved wait",
                                    creatorName: "jacky",
                                },
                                approverId: "",
                                approvedAt: null,
                                createdAt: "2021-12-20 22:32:40",
                                updatedAt: null,
                                approvalId: null,
                            },
                        },
                    ],
                    deviceList: [
                        {
                            _id: "5e10916eccf2a5225e68c9fc46a472a9",
                            userId: "2593ec8ed577f587c1cb106075668dae",
                            deviceId: "db1680050a076e257d7a1e52651e0969",
                            startDate: "2021-12-20",
                            endDate: "2022-11-12",
                            statusCode: 1,
                            statusName: "Approved wait",
                            creatorId: "1",
                            creatorName: "jacky",
                            approverId: null,
                            approvedAt: null,
                            createdAt: "2021-12-20 22:32:40",
                            updatedAt: "2021-12-20 22:32:40",
                            deletedAt: null,
                            syncFlag: 0,
                            syncAt: null,
                            syncMsg: null,
                            approvalId: null,
                            deviceName: null,
                            approval: {
                                _id: "2d2b72898f7020397fd912ff861b0948",
                                refId: "5e10916eccf2a5225e68c9fc46a472a9",
                                resourceType: "USERDEVICE",
                                operationType: "create",
                                statusCode: 1,
                                creatorId: "1",
                                creatorName: "jacky",
                                existingData: "",
                                newData: {
                                    _id: "5e10916eccf2a5225e68c9fc46a472a9",
                                    userId: "2593ec8ed577f587c1cb106075668dae",
                                    endDate: "2022-11-12",
                                    deviceId: "db1680050a076e257d7a1e52651e0969",
                                    createdAt: "2021-12-20 22:32:40",
                                    creatorId: "1",
                                    startDate: "2021-12-20",
                                    updatedAt: "2021-12-20 22:32:40",
                                    approvalId: null,
                                    deviceName: null,
                                    statusCode: 1,
                                    statusName: "Approved wait",
                                    creatorName: "jacky",
                                },
                                approverId: "",
                                approvedAt: null,
                                createdAt: "2021-12-20 22:32:40",
                                updatedAt: null,
                                approvalId: null,
                            },
                        },
                    ],
                    roleList: [
                        {
                            _id: "69646ea610923a088e5296bc9aa8280c",
                            userId: "2593ec8ed577f587c1cb106075668dae",
                            roleId: "26aabaa3685d216e6043547c50197f31",
                            branchId: "962a43fa0723bdac796a5c3da560dde4",
                            startDate: "2021-12-20",
                            endDate: "2022-11-12",
                            statusCode: 1,
                            statusName: "Approved wait",
                            creatorId: "1",
                            creatorName: "jacky",
                            approverId: null,
                            approvedAt: null,
                            createdAt: "2021-12-20 22:32:40",
                            updatedAt: "2021-12-20 22:32:40",
                            deletedAt: null,
                            syncFlag: 0,
                            syncAt: null,
                            syncMsg: null,
                            approvalId: null,
                            roleName: "role3",
                            branchName: "branch1",
                            tenantId: "2b01f724b75c15c6b67317d406ad9f3c",
                            approval: {
                                _id: "790331139bf747d2f486c77e26907cdc",
                                refId: "69646ea610923a088e5296bc9aa8280c",
                                resourceType: "USERROLE",
                                operationType: "create",
                                statusCode: 1,
                                creatorId: "1",
                                creatorName: "jacky",
                                existingData: "",
                                newData: {
                                    _id: "69646ea610923a088e5296bc9aa8280c",
                                    roleId: "26aabaa3685d216e6043547c50197f31",
                                    userId: "2593ec8ed577f587c1cb106075668dae",
                                    endDate: "2022-11-12",
                                    branchId: "962a43fa0723bdac796a5c3da560dde4",
                                    roleName: null,
                                    tenantId: null,
                                    createdAt: "2021-12-20 22:32:40",
                                    creatorId: "1",
                                    startDate: "2021-12-20",
                                    updatedAt: "2021-12-20 22:32:40",
                                    approvalId: null,
                                    branchName: null,
                                    statusCode: 1,
                                    statusName: "Approved wait",
                                    creatorName: "jacky",
                                },
                                approverId: "",
                                approvedAt: null,
                                createdAt: "2021-12-20 22:32:40",
                                updatedAt: null,
                            },
                        },
                    ],
                    tenantList: [],
                }
            };
        },
        methods: {
            netUserDetail() {
                let self = this;
                userdetail(this.id)
                    .then((response) => {
                        self.info = response;
                        self.tenantList = [
                            {
                                tenantName: "app1",
                                roleList: [
                                    {
                                        roleName: "szw0",
                                        branchName: "szw1",
                                        creatorName: "szw2",
                                        approvedAt: "szw3",
                                        startDate: "szw4",
                                        endDate: "szw5",
                                        statusName: "szw6",
                                    },
                                ],
                            },
                            {
                                tenantName: "app2",
                                roleList: [
                                    {
                                        roleName: "app2000000000",
                                        branchName: "szw1",
                                        creatorName: "szw2",
                                        approvedAt: "szw3",
                                        startDate: "szw4",
                                        endDate: "szw5",
                                        statusName: "szw6",
                                    },
                                ],
                            },
                        ];
                    })
                    .catch((e) => {
                        self.list = [];
                        console.error(e);
                    });
            },
            editHandle() {
                this.$router.push({
                    path: "/useredit",
                });
            },
        },
    };
</script>


<style>
   /* .el-table__body-wrapper {
        height: 100% !important;
    } */
</style>

<style scoped>
    .page {
        height: 100vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }

    .body {
        flex: 1;
        padding: 0 40px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
    }

    .profile {
        display: flex;
        align-items: flex-start;
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right {
        flex: 1;
        padding: 0 80px;
    }

    .table {
        margin-top: 60px;
        flex: 1;
        overflow-x: auto;
    }

    .etable {
        height: 100% !important;
    }
</style>