<template>
	<div class="page" v-loading="loading" element-loading-background="#00000000">
		<appnavbar left="View Audit Log" />
		<div class="body">
			<apppagetitle txt="View Audit Log" />
			<!-- filler & export-->
			<div style="display: flex;align-items: center;justify-content: space-between;margin-top: 20px;">
				<appfillter :index.sync="fiIdx" @onTap="fillterItemClickHandle" />
				<div @click="downloadHandle"
					style="display: flex; justify-content: center; align-items: center; width: 138px; height: 42px; border-radius: 21px; border: 1px solid; border-color: #007aff; cursor: pointer; color: #007aff;">
					<i class="Icon">person_outline</i>
					<span>Export</span>
				</div>
			</div>
			<!-- apps -->
			<activeuser @onTap="appSelect" :canselect="true" />
			<!-- search -->
			<appsearch style="margin-top: 20px;" :vmodel.sync="fi._keyword" @done="searchHandle" />

			<!-- table -->
			<el-table :data="list" style="margin-top: 40px;">
				<el-table-column prop="userName" min-width="230" label="123">
					<template #header>
						<apptabletitle :status="colsStatus[0]" :idx="0" label="USER ACCOUNT NAME" />
					</template>
				</el-table-column>

				<el-table-column prop="module" min-width="230" label="123">
					<template slot="header">
						<apptabletitle :status="colsStatus[1]" :idx="1" label="MODULE " />
					</template>
				</el-table-column>

				<el-table-column prop="activityTime" min-width="230" label="123">
					<template slot="header">
						<apptabletitle :status="colsStatus[2]" :idx="2" label="ACTIVITY DATE & TIME" />
					</template>
				</el-table-column>

				<el-table-column prop="activityType" min-width="230" label="123">
					<template slot="header">
						<apptabletitle :status="colsStatus[3]" :idx="3" label="ACTIVITY TYPE" />
					</template>
				</el-table-column>

				<el-table-column prop="ipAddress" min-width="230" label="123">
					<template slot="header">
						<apptabletitle :status="colsStatus[4]" :idx="4" label="IP NAME" />
					</template>
				</el-table-column>

				<el-table-column prop="deviceId" min-width="230" label="123">
					<template slot="header">
						<apptabletitle :status="colsStatus[5]" :idx="5" label="DEVICE NAME" />
					</template>
				</el-table-column>

				<el-table-column prop="branch" min-width="230" label="123">
					<template slot="header">
						<apptabletitle :status="colsStatus[6]" :idx="6" label="BRANCH" />
					</template>
				</el-table-column>

				<el-table-column prop="exception" min-width="230" label="123">
					<template slot="header">
						<apptabletitle :status="colsStatus[7]" :idx="7" label="EXCEPTION" />
					</template>
				</el-table-column>

				<el-table-column min-width="125">
					<template slot-scope="{row}">
						<div style="display: flex;align-items: center;color: #007aff;cursor: pointer;"
							@click="detailHandle(row)">
							<i class="Icon" style="margin-right: 5px;">more_horiz</i>
							<div style="font-size: 12px;">More Details</div>
						</div>
					</template>

				</el-table-column>

			</el-table>

		</div>
	</div>
</template>

<script>
	import {
		loglist,
		download
	} from "@/api/log_api.js";
	import activeuser from "@/components/active_user.vue";
	import appfillter from "@/components/app_fillter.vue";

	export default {
		components: {
			appfillter,
			activeuser,
		},
		mounted() {
			this.sortInit();
			this.netLogList();
		},
		data() {
			return {
				loading: true,
				fiIdx: 0,
				clientId: "",
				fi: {
					_page: 1,
					_pageSize: 150,
					_keyword: undefined,
					clientId: undefined,
					period: undefined,
					_orderby: undefined,
				},
				sortkeys: [
					"userName",
					"module",
					"activityTime",
					"activityType",
					"ipAddress",
					"deviceId",
					"branch",
					"exception",
				],
				list: [],
				colsStatus: [0, 0, 0, 0, 0, 0, 0, 0, 0],
			};
		},
		methods: {
			sortInit() {
				let self = this;
				this.$bus.$on("sortHandle", (idx, e) => {
					let arr = [0, 0, 0, 0, 0, 0, 0, 0, 0];
					arr[idx] = e;
					self.colsStatus = arr;

					self.fi["period"] = self.sortkeys[idx];
					if (e == 1) {
						self.fi["_orderby"] = `${self.sortkeys[idx]} asc`;
					} else {
						self.fi["_orderby"] = `${self.sortkeys[idx]} desc`;
					}
					self.list = [];
					self.netLogList();
				});
			},
			detailHandle(row) {
				console.log("====================================");
				console.log(row);
				console.log("====================================");
				this.$router.push({
					path: "/logdetail",
					query: row,
				});
			},

			netLogList() {
				let self = this;
				loglist(this.fi)
					.then((response) => {
						let {
							list
						} = response;
						self.list = list;
						console.log("============loglist========================");
						console.log(response);
						console.log("====================================");
						self.loading = false;
					})
					.catch((e) => {
						self.list = [];
						console.error(e);
					});
			},
			downloadHandle() {
				this.netDownload();
			},
			netDownload() {
				download()
					.then((response) => {
						window.downloadFile(response, "123.csv", (e) => {
							if (e) {
								this.$message.error(e);
							} else {
								this.$message.success("Successful Operation");
							}
						});
					})
					.catch((e) => {
						this.$message.error(e);
					});
			},
			fillterItemClickHandle(vl) {
				this.fi.period = vl;
				this.list = [];
				this.netLogList();
			},
			searchHandle() {
				this.list = [];
				this.netLogList();
			},
			appSelect(appName) {
				this.fi.clientId = appName;
				self.list = [];
				this.netLogList();
			},
		},
	};
</script>

<style>
	.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar-thumb {
		background-color: #999999 !important;
		height: 10px;
		border-radius: 5px;
	}

	.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar {
		background-color: #ebebeb !important;
		height: 10px;
	}

	/* 滑块颜色 */
</style>

<style scoped>
	.page {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.body {
		padding: 0 40px;
		flex: 1;
		overflow-y: auto;
	}
</style>
