<template>
	<div class="page">
		<appnavbar left="Dashboard" />
		<div class="body">
			<apppagetitle txt="Dashboard" />

			<!-- apps -->
			<activeuser />
			<!-- chart -->
			<div style="display: flex;min-height:345px;margin-top: 60px;width: 100%;">
				<!-- chatleft -->
				<div style="display: flex;flex-direction: column;flex: 1;">
					<div style="font-size: 18px;">Active Sessions Log</div>
					<div
						style="flex: 1;background-color: #ffffff;margin-top: 15px;padding: 12px;
                                        border: 1px solid #e6e6e6;border-radius: 10px;overflow: hidden;height: 100%;display: flex;flex-direction: column;">
						<!-- fillter -->
						<div style="display: flex;">
							<appfillter :index.sync='leftFiIdx' style="flex: 1;" @onTap="fillterLeftChartHandle" />
							<!-- tip -->
							<div>
								<div style="display: flex;align-items: center;">
									<div
										style="width: 12px;height: 12px;border-radius: 6px;background-color:  #c2dbf2;margin-right: 5px;">
									</div>
									<div style="font-size: 10px;color: #080808;">No. of Currently Active User </div>
								</div>
								<div style="display: flex;align-items: center;margin-top: 10px;">
									<div
										style="width: 12px;height: 12px;border-radius: 6px;background-color:  #fad5d4;margin-right: 5px;">
									</div>
									<div style="font-size: 10px;color: #080808;">No. of Failed Log-Ins</div>
								</div>
							</div>
						</div>
						<leftchat style="flex:1;" :fikey="leftFiStr" />
					</div>
				</div>

				<div style="width: 30px;"></div>
				<!-- chatright -->
				<div style="display: flex;flex-direction: column;flex: 1;">
					<div style="font-size: 18px;">Active Sessions Log</div>
					<div
						style="flex: 1;background-color: #ffffff;margin-top: 15px;padding: 12px;
                                        border: 1px solid #e6e6e6;border-radius: 10px;overflow: hidden;display: flex;flex-direction: column;">
						<!-- fillter -->
						<div style="display: flex;">
							<appfillter :index.sync='rightFiIdx' style="flex: 1;" @onTap="fillterRightChartHandle" />
							<!-- tip -->
							<div>
								<div style="display: flex;align-items: center;">
									<div
										style="width: 12px;height: 12px;border-radius: 6px;background-color:  #d8e7e2;margin-right: 5px;">
									</div>
									<div style="font-size: 10px;color: #080808;">No. of Unregistered IPs </div>
								</div>
								<div style="display: flex;align-items: center;margin-top: 10px;">
									<div
										style="width: 12px;height: 12px;border-radius: 6px;background-color:  #f9eed8;margin-right: 5px;">
									</div>
									<div style="font-size: 10px;color: #080808;">No. of Unregistered Device</div>
								</div>
							</div>
						</div>
						<rightchat style="flex: 1;" :fikey="rightFiStr" />
					</div>
				</div>
			</div>

			<!-- log table -->
			<div
				style="margin-top: 50px;min-height: 400px;background-color: rgb(255, 255, 255);overflow-y: auto; display: flex;flex-direction: column;">
				<div style="font-size: 18px;">Recent Activities</div>

				<div
					style="border: 1px solid #e6e6e6;border-radius: 10px;padding: 20px 15px;margin-top: 15px;flex: 1;overflow-y: auto;max-height: 460px;">
					<appfillter :index.sync='fiIdx' @onTap="fillterItemClickHandle" />
					<el-table :data="list">
						<el-table-column prop="userName" min-width="230" label="123">
							<template #header>
								<apptabletitle :status="colsStatus[0]" :idx="0" label="USER ACCOUNT NAME" />
							</template>
						</el-table-column>

						<el-table-column prop="module" min-width="230" label="123">
							<template slot="header">
								<apptabletitle :status="colsStatus[1]" :idx="1" label="MODULE" />
							</template>
						</el-table-column>

						<el-table-column prop="activityTime" min-width="230" label="123">
							<template slot="header">
								<apptabletitle :status="colsStatus[2]" :idx="2" label="ACTIVE DATE & TIME" />
							</template>
						</el-table-column>

						<el-table-column prop="activityType" min-width="230" label="123">
							<template slot="header">
								<apptabletitle :status="colsStatus[3]" :idx="3" label="ACTIVTY TYPE" />
							</template>
						</el-table-column>

						<el-table-column prop="ipAddress" min-width="230" label="123">
							<template slot="header">
								<apptabletitle :status="colsStatus[4]" :idx="4" label="IP ADDRESS" />
							</template>
						</el-table-column>

						<el-table-column prop="deviceId" min-width="230" label="123">
							<template slot="header">
								<apptabletitle :status="colsStatus[5]" :idx="5" label="DEVICE ID" />
							</template>
						</el-table-column>

						<el-table-column prop="branch" min-width="230" label="123">
							<template slot="header">
								<apptabletitle :status="colsStatus[6]" :idx="6" label="BRANCH NAME" />
							</template>
						</el-table-column>

						<el-table-column prop="exception" min-width="230" label="123">
							<template slot="header">
								<apptabletitle :status="colsStatus[7]" :idx="7" label="EXCEPTION" />
							</template>
						</el-table-column>

					</el-table>

				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import {
		loglist
	} from "@/api/log_api.js";
	import activeuser from "@/components/active_user.vue";
	import appfillter from "@/components/app_fillter.vue";
	import leftchat from "./left_chat.vue";
	import rightchat from "./right_chat.vue";
	export default {
		components: {
			leftchat,
			rightchat,
			appfillter,
			activeuser,
		},
		mounted() {
			this.sortInit();
			this.netLogList();
		},
		data() {
			return {
				fiIdx: 0,
				clientId: "",

				leftFiIdx: 0,
				leftFiStr: "Today",
				rightFiIdx: 0,
				rightFiStr: "Today",

				fi: {
					_page: 1,
					_pageSize: 50,
					_keyword: undefined,
					clientId: undefined,
					period: undefined,
					_orderby: undefined,
				},
				sortkeys: [
					"userName",
					"module",
					"activityTime",
					"activityType",
					"ipAddress",
					"deviceId",
					"branch",
					"exception",
				],
				list: [
					// { userName: "0" },
					// { userName: "1" },
					// { userName: "2" },
					// { userName: "3" },
					// { userName: "4" },
					// { userName: "5" },
					// { userName: "6" },
					// { userName: "7" },
					// { userName: "8" },
					// { userName: "9" },
					// { userName: "10" },
					// { userName: "11" },
					// { userName: "12" },
				],
				colsStatus: [0, 0, 0, 0, 0, 0, 0, 0, 0],
			};
		},
		methods: {
			sortInit() {
				let self = this;
				this.$bus.$on("sortHandle", (idx, e) => {
					let arr = [0, 0, 0, 0, 0, 0, 0, 0, 0];
					arr[idx] = e;
					self.colsStatus = arr;

					self.fi["period"] = self.sortkeys[idx];
					if (e == 1) {
						self.fi["_orderby"] = `${self.sortkeys[idx]} asc`;
					} else {
						self.fi["_orderby"] = `${self.sortkeys[idx]} desc`;
					}
					self.list = [];
					self.netLogList();
				});
			},
			fillterItemClickHandle(vl) {
				this.fi.period = vl;
				this.list = [];
				this.netLogList();
			},
			fillterLeftChartHandle(vl) {
				this.leftFiStr = vl;
			},
			fillterRightChartHandle(vl) {
				this.rightFiStr = vl;
			},
			netLogList() {
				let self = this;
				loglist(this.fi)
					.then((response) => {
						let {
							list
						} = response;
						self.list = list;
					})
					.catch((e) => {
						self.list = [];
						console.error(e);
					});
			},
		},
	};
</script>

<style>
	.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar-thumb {
		background-color: #999999 !important;
		height: 10px;
		border-radius: 5px;
	}

	.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar {
		background-color: #ebebeb !important;
		height: 10px;
	}

	/* 滑块颜色 */
</style>

<style scoped>
	.page {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.body {
		/* flex: 1; */
		padding: 0 40px;
		display: flex;
		overflow-y: auto;
		flex-direction: column;
	}
</style>
