<template>
	<div class="view">
		<div class="chart" ref="chart"></div>
	</div>
</template>

<script>
	const echarts = require("echarts");

	import {
		leftChartData
	} from "../../api/dashboard_api";

	export default {
		props: ["fikey"],
		mounted() {
			this.initCharts();
			window.addEventListener("resize", this.windowResize);
			this.netFetchData();
		},

		watch: {
			fikey: {
				handler: function() {
					this.netFetchData();
				},
			},
		},

		data() {
			return {
				myChart: null,
				option: {
					tooltip: {},
					dataZoom: [{
							start: 0, //显示数据开始位置
							end: 75, //显示数据结束位置
							type: "slider",
							show: false, //flase直接隐藏图形
						},
						{
							type: "inside",
							show: true,
							xAxisIndex: [0],
							start: 0, //滚动条的起始位置
							end: 0.25, //滚动条的截止位置（按比例分割你的柱状图x轴长度）
						},
					],
					grid: {
						bottom: 30,
						left: 30,
						right: 30,
						top: 20,
					},
					xAxis: {
						data: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"],
						axisLine: {
							lineStyle: {
								color: "#ebebeb",
							},
						},
						axisLabel: {
							color: "#080808"
						},
						axisTick: {
							show: false,
						},
					},
					yAxis: {
						axisLine: {
							lineStyle: {
								color: "#080808",
							},
						},
						axisTick: {
							show: false,
						},
					},
					series: [{
							name: "销量",
							type: "bar",
							data: [5, 20, 36, 10, 10, 20, 5, 20, 36, 70, 10, 44],
							color: "#c2dbf2",
							barWidth: 12,
							itemStyle: {
								normal: {
									//柱形图圆角，初始化效果
									barBorderRadius: [3, 3, 0, 0],
								},
							},
						},
						{
							name: "销量2",
							type: "bar",
							data: [10, 10, 20, 5, 20, 36, 10, 10, 80, 5, 2, 36],
							color: "#fad5d4",
							barWidth: 12,
							itemStyle: {
								normal: {
									//柱形图圆角，初始化效果
									barBorderRadius: [3, 3, 0, 0],
								},
							},
						},
					],
				},
			};
		},
		beforeDestroy() {
			window.removeEventListener("resize", this.windowResize);
			this.myChart.dispose();
		},
		methods: {
			netFetchData() {
				let self = this;
				leftChartData(this.fikey)
					.then((data) => {
						self.option.xAxis.data = data["tags"];
						let data1 = self.option.series[0];
						data1.data = data["loginNum"];

						let data2 = self.option.series[1];
						data2.data = data["loginFailNum"];
						self.myChart.setOption(self.option);
					})
					.catch((e) => {
						console.error(e);
					});
			},

			windowResize() {
				this.myChart.resize();
			},
			initCharts() {
				// 基于准备好的dom，初始化echarts实例
				this.myChart = echarts.init(this.$refs.chart);
			},
		},
	};
</script>


<style scoped>
	.chart {
		height: 100%;
	}
</style>
