<template>
	<!-- device -->
	<div class="sessn-item">
		<div class="sesson-titile">IP ACCESS</div>
		<!-- items -->
		<div style="display: flex;align-items:center;margin-top:15px;" v-for="(obj,idx) in list" :key="idx">
			<appselectinput style="flex:1;" title="IP Name" :must="1" :items="dlist" showkey="name"
				:value.sync="obj.deviceId" />
			<div style="width:20px;"></div>
			<div style="display: flex;align-items:center;">
				<appdateinput style="flex:1;" title="Start Date" :must="1" :value.sync="obj.startDate" />
				<div style="width:10px;"></div>
				<appdateinput style="flex:1;" title="End Date" :value.sync="obj.endDate" />
				<div style="width:10px;"></div>
				<div style=" margin-top:25px;height:40px; flex:1; cursor: pointer; padding-top:15px; min-width: 268px;">
					<i class="el-icon-delete" style="color:red;" @click="delHandle(idx)"> Delete IP
						Access</i>
				</div>
			</div>
		</div>
		<!-- btn -->
		<div style=" height:30px; flex:1; cursor: pointer; padding-top:15px; min-width: 268px;">
			<i class="el-icon-circle-plus" style="color:#409eff;font-weight:normal;font-size:15px;" @click="addHandle">
				Add IP
				Access</i>
		</div>
	</div>
</template>

<script>
	import {
		iplist
	} from "../../../api/ip_api.js"
	export default {
		props: ["list"],
		mounted() {
			this.netIPList()
		},
		data() {
			return {
				dlist: [],
			};
		},
		methods: {
			delHandle(i) {
				this.list.splice(i, 1);
				this.$emit("update:list",this.list)
			},
			netIPList() {
				let self = this;
				iplist(this.fi)
					.then((response) => {
						let {
							list
						} = response;
						self.dlist = list;
					})
					.catch((e) => {
						self.list = [];
						console.error(e);
					});
			},
			addHandle() {
				this.list.push({
					"ipId": "",
					"startDate": "",
					"endDate": ""
				});
				this.$emit("update:list",this.list)
			}
		},
	};
</script>


<style scoped>
	.sessn-item {
		margin-top: 20px;
	}

	.sesson-titile {
		font-size: 25px;
		font-weight: bold;
	}
</style>
