<template>
	<div>
		<!-- cell -->
		<div style="display: flex;align-items: center;" v-for="(obj,idx) in list" :key="idx">
			<appselectinput style="flex:3;" title="Role" :must="1" :items="rlist" showkey="name" :bk="idx"
				:value.sync="obj.roleId" @cb="rcb" />
			<div style="width: 20px;"></div>
			<appselectinput style="flex:3;" title="Branch" :must="1" :items="blist" showkey="name" :bk="idx"
				:value.sync="obj.branchId" @cb="bcb" />
			<div style="width: 20px;"></div>

			<appdateinput style="flex:1;" title="Start Date" :must="1" :value.sync="obj.startDate" />
			<div style="width: 20px;"></div>
			<appdateinput style="flex:1;" title="End Date" :value.sync="obj.endDate" />
		</div>

		<div style="display: flex;align-items: center;">

			<!-- small btn -->
			<div style=" height:30px;  cursor: pointer; padding-top:15px; margin-right: 50px;">
				<i class="el-icon-circle-plus" style="color:#409eff;font-weight:normal;font-size:15px;"
					@click="addHandle">
					Add
					Role</i>
			</div>

			<!-- small btn -->
			<div style=" height:30px;  cursor: pointer; padding-top:15px; ">
				<i class="el-icon-circle-plus" style="color:#f00;font-weight:normal;font-size:15px;" @click="delHandle">
					Remove Role</i>
			</div>
		</div>
	</div>
</template>

<script>
	import {
		rolelist
	} from "../../../api/role_api.js"
	import {
		branchlist
	} from "../../../api/branch_api.js"

	export default {
		props: ["list"],
		mounted() {
			this.netRoleList();
			this.netBranchList();
		},
		data() {
			return {
				rlist: [],
				blist: [],
			};
		},
		methods: {
			addHandle() {
				this.list.push({
					startDate: "",
					endDate: "",
					roleId: "",
					roleName: "",
					branchId: "",
					branchName: "",
				})
				this.$emit("update:list", this.list)
			},
			delHandle() {
				let idx = this.list.length - 1;
				this.list.splice(idx, 1);
				if (this.list.length == 0) {
					console.log("shanchushanchushanchushanchushanchu")
					this.$emit("delapp");
				} else {
					this.$emit("update:list", this.list)
				}
			},

			rcb(bk, v) {
				console.log(bk, v)
				let obj = this.list[bk]
				obj.roleName = v;
			},
			bcb(bk, v) {
				console.log(bk, v)
				let obj = this.list[bk]
				obj.branchName = v;

			},

			// net

			netRoleList() {
				rolelist().then(res => {
					this.rlist = res["list"];
				}).catch(e => {
					console.log(e)
				})
			},
			netBranchList() {
				branchlist().then(res => {
					this.blist = res["list"];
				}).catch(e => {
					console.log(e)
				})
			}
		},
	};
</script>


<style scoped>
	.sessn-item {
		margin-top: 20px;
	}

	.sesson-titile {
		font-size: 25px;
		font-weight: bold;
	}
</style>
