<template>
  <div class="page">
    <div style="margin-top: 40px;">
      <appitemtitle title="DETAILED ACTIVITIES" />
      <!-- table -->
      <el-table :data="list">
        <el-table-column
          prop="role"
          min-width="230"
        >
          <template slot="header">
            <apptabletitle label="ROLE" />
          </template>
        </el-table-column>

        <el-table-column
          prop="activityTime"
          min-width="230"
          label="123"
        >
          <template slot="header">
            <apptabletitle label="LOGIN TIME" />
          </template>
        </el-table-column>

        <el-table-column
          prop="ipAddress"
          min-width="230"
          label="123"
        >
          <template slot="header">
            <apptabletitle label="IP NAME" />
          </template>
        </el-table-column>

        <el-table-column
          prop="deviceId"
          min-width="230"
          label="123"
        >
          <template slot="header">
            <apptabletitle label="DEVICE NAME" />
          </template>
        </el-table-column>

        <el-table-column
          prop="assetRegister"
          min-width="230"
          label="123"
        >
          <template slot="header">
            <apptabletitle label="ASSET REGISTER" />
          </template>
        </el-table-column>

        <el-table-column
          prop="branch"
          min-width="230"
          label="123"
        >
          <template slot="header">
            <apptabletitle label="BRANCH" />
          </template>
        </el-table-column>

        <el-table-column
          prop="activityType"
          min-width="230"
          label="123"
        >
          <template slot="header">
            <apptabletitle label="ACTIVITY" />
          </template>
        </el-table-column>

        <el-table-column
          prop="exception"
          min-width="230"
          label="123"
        >
          <template slot="header">
            <apptabletitle label="EXCEPTION" />
          </template>
        </el-table-column>

      </el-table>
    </div>
  </div>
</template>

<script>
import { loglist } from "@/api/log_api.js";
export default {
  props: ["appId"],
  mounted() {
    this.netLogList();
  },
  data() {
    return {
      fi: {
        _page: 1,
        _pageSize: 50,
        tenantId: this.appId,
      },
      list: [],
    };
  },
  methods: {
    netLogList() {
      let self = this;
      loglist(this.fi)
        .then((response) => {
          let { list } = response;
          self.list = list;
        })
        .catch((e) => {
          self.list = [];
          console.error(e);
        });
    },
  },
};
</script>


<style scoped>
.page {
  display: block;
  max-height: 400px;
}
</style>