<template>
  <div class="page">
    <div style="margin-top: 40px;">
      <appitemtitle title="DEVICE ACCESS HISTORY" />
      <!-- table -->
      <el-table :data="items">
        <el-table-column
          prop="deviceName"
          min-width="230"
        >
          <template slot="header">
            <apptabletitle label="DEVICE NAME" />
          </template>
        </el-table-column>

        <el-table-column
          prop="deviceId"
          min-width="230"
          label="123"
        >
          <template slot="header">
            <apptabletitle label="DEVICE ID" />
          </template>
        </el-table-column>

        <el-table-column
          prop="assetRegister"
          min-width="230"
          label="123"
        >
          <template slot="header">
            <apptabletitle label="ASSET REGISTER" />
          </template>
        </el-table-column>

        <el-table-column
          prop="creatorName"
          min-width="230"
          label="123"
        >
          <template slot="header">
            <apptabletitle label="CREATED BY" />
          </template>
        </el-table-column>

        <el-table-column
          prop="approverName"
          min-width="230"
          label="123"
        >
          <template slot="header">
            <apptabletitle label="APPROVED BY" />
          </template>
        </el-table-column>

        <el-table-column
          prop="startDate"
          min-width="230"
          label="123"
        >
          <template slot="header">
            <apptabletitle label="START DATE" />
          </template>
        </el-table-column>

        <el-table-column
          prop="endDate"
          min-width="230"
          label="123"
        >
          <template slot="header">
            <apptabletitle label="END DATE" />
          </template>
        </el-table-column>

        <el-table-column
          prop="statusName"
          min-width="230"
          label="123"
        >
          <template slot="header">
            <apptabletitle label="STATUS" />
          </template>
        </el-table-column>

      </el-table>
    </div>
  </div>
</template>

<script>
export default {
  props: ["items"],
  mounted() {},
  data() {
    return {
      datas: [{ name: "123" }, { name: "123" }],
    };
  },
  methods: {},
};
</script>


<style scoped>
.page {
  display: block;
  max-height: 280px;
}
</style>