<template>
	<div class="page">
		<div style="margin-top: 40px;">
			<appitemtitle title="TENANT ROLE HISTORY" />
			<apptab :items="items.map(e=>e.tenantName)" :idx="tabIdx" @onTap="onTapHandle" v-if="items.length>0" />
			<!-- table -->
			<el-table :data="items[tabIdx].roleList">
				<el-table-column prop="roleName" min-width="230">
					<template #header>
						<apptabletitle label="ROLE" />
					</template>
				</el-table-column>

				<el-table-column prop="branchName" min-width="460" label="123">
					<template #header>
						<apptabletitle label="BRANCH" />
					</template>
				</el-table-column>

				<el-table-column prop="name" min-width="230" label="123">
					<template #header>
						<apptabletitle label="TELLER NUMBER" />
					</template>
				</el-table-column>

				<el-table-column prop="name" min-width="230" label="123">
					<template #header>
						<apptabletitle label="RANK" />
					</template>
				</el-table-column>

				<el-table-column prop="name" min-width="230" label="123">
					<template #header>
						<apptabletitle label="CASH GL DESCRIPTION" />
					</template>
				</el-table-column>

				<el-table-column prop="creatorName" min-width="230" label="123">
					<template #header>
						<apptabletitle label="CREATED BY" />
					</template>
				</el-table-column>

				<el-table-column prop="approvedAt" min-width="230" label="123">
					<template #header>
						<apptabletitle label="APPROVED BY" />
					</template>
				</el-table-column>

				<el-table-column prop="startDate" min-width="230" label="123">
					<template #header>
						<apptabletitle label="START DATE" />
					</template>
				</el-table-column>
				<el-table-column prop="endDate" min-width="230" label="123">
					<template #header>
						<apptabletitle label="END DATE" />
					</template>
				</el-table-column>
				<el-table-column prop="statusName" min-width="230" label="123">
					<template #header>
						<apptabletitle label="STATUS" />
					</template>
				</el-table-column>

			</el-table>
		</div>
	</div>
</template>

<script>
	export default {
		props: ["items"],
		mounted() {},
		data() {
			return {
				tabIdx: 0,
			};
		},
		methods: {
			onTapHandle(idx) {
				this.tabIdx = idx;
			},
		},
	};
</script>


<style scoped>
	.page {
		display: block;
		max-height: 280px;
	}
</style>
