<template>
	<div class="page">
		<appnavbar left="IP Management / Add New IP" :canBack="1" />
		<div class="body">
			<div style="flex: 1;">
				<apppagetitle txt="Add New IP" />
				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appinput title="IP Name" :must="1" :value.sync="info['name']" style="flex:1;" />
					<div style="width: 40px;"></div>
					<appinput title="IP Address" :must="1" :value.sync="info['ipAddress']" style="flex:1;" />
				</div>

				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appdateinput title="IP Start Date" :must="1" :value.sync="info['startDate']" style="flex:1;" />
					<div style="width: 40px;"></div>
					<appdateinput title="IP End Date (optional)" :must="0" :value.sync="info['endDate']"
						style="flex:1;" />
				</div>

			</div>

			<!-- btn -->
			<div style="display: flex;align-items: center;margin-top: 40px;">
				<appbutton color="#007aff" label="Submit for Approval" @click.native="saveHandle" />
				<div style="width: 40px;"></div>
				<appbutton @click.native="cancelHandle" color="#007aff" label="Cancel" />
			</div>

		</div>

	</div>
</template>

<script>
	import {
		ipadd
	} from "@/api/ip_api.js";
	export default {
		mounted() {},
		data() {
			return {
				info: {
					name: "",
					ipAddress: "",
					startDate: "",
					endDate: "",
				},
			};
		},
		methods: {
			saveHandle() {
				let {
					name,
					ipAddress,
					startDate
				} = this.info;
				if (name.length != 0 && ipAddress.length != 0 && startDate.length != 0) {
					this.netIPAdd();
				} else {
					this.$message.error("请填写必要字段");
				}
			},
			cancelHandle() {
				this.$router.go(-1);
			},

			netIPAdd() {
				ipadd(this.info)
					.then(() => {
						this.$message.success("Successful Operation");
						setTimeout(() => {
							this.$router.replace({
								path: "/iplist",
							});
						}, 2000);
					})
					.catch((e) => {
						this.$message.error(e);
					});
			},
		},
	};
</script>




<style scoped>
	.page {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.body {
		flex: 1;
		padding: 0 40px;
		display: flex;
		flex-direction: column;
		padding-bottom: 30px;
	}
</style>
