<template>
        <div class="page">
                <appnavbar left="IP Management / New IP Approval" :canBack="1" />
                <div class="body">
                        <div style="flex: 1;">
                                <apppagetitle txt="Add New IP Approval" />
                                <!-- items -->
                                <div style="margin-top: 40px;display: flex;align-items: center;">
                                        <appreaditem keystr="Requested By" :value="info['creatorName']" />
                                        <appreaditem keystr="Requested Date" :value="info['approverName']" />
                                        <div style="flex:1" />
                                </div>
                                <!-- items -->
                                <div style="margin-top: 40px;display: flex;align-items: center;">
                                        <appreaditem keystr="IP Name" :value="info['name']" />
                                        <appreaditem keystr="IP Address" :value="info['ipAddress']" />
                                        <appreaditem keystr="IP Created Date" :value="info['createdAt']" />
                                </div>

                        </div>

                        <!-- btn -->
                        <div style="display: flex;align-items: center;margin-top: 40px;">
                                <appbutton color="#007aff" label="Approve Add New Branch" @click.native="editHandle" />
                                <div style="width: 40px;"></div>
                                <appbutton color="red" label="Reject Add New Branch" />
                        </div>

                </div>

        </div>
</template>

<script>
        import { ippass, ipreject } from "@/api/ip_api.js";

        export default {
                mounted() {
                        let { info } = this.$route.query;
                        this.info = info;
                        if (this.info == undefined) {
                                this.$message.error("data error");
                                setTimeout(() => {
                                        this.$router.go(-1);
                                }, 2000);
                                return;
                        }
                },
                data() {
                        return {
                                info: {
                                        creatorName: "",
                                        approverName: "",
                                        name: "",
                                        ipAddress: "",
                                        createdAt: "",
                                },
                        };
                },
                methods: {
                        editHandle() {
                                this.$router.push({
                                        path: "/ipedit",
                                });
                        },
                        passHandle() {
                                let { _id } = this.info;
                                ippass(_id).then(() => {
                                        this.$message.success('Successful Operation');
                                        setTimeout(() => {
                                                this.$router.replace({
                                                        path: "/iplist"
                                                })
                                        }, 2000);
                                }).catch((e) => {
                                        this.$message.error(e);
                                });
                        },
                        rejectHandle() {
                                let { _id } = this.info;
                                ipreject(_id).then(() => {
                                        this.$message.success('Successful Operation');
                                        setTimeout(() => {
                                                this.$router.replace({
                                                        path: "/iplist"
                                                })
                                        }, 2000);
                                }).catch((e) => {
                                        this.$message.error(e);
                                });
                        }
                },
        };
</script>




<style scoped>
        .page {
                height: 100vh;
                display: flex;
                flex-direction: column;
        }

        .body {
                flex: 1;
                padding: 0 40px;
                display: flex;
                flex-direction: column;
                padding-bottom: 30px;
        }
</style>