<template>
	<div class="page">
		<appnavbar left="IP Management / Edit IP Approval" :canBack="1" />
		<div class="body">
			<div style="flex: 1;">
				<apppagetitle txt="Edit IP Approval" />
				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreaditem keystr="Requested By" :value="info['creatorName']" />
					<div style="width: 40px;"></div>
					<appreaditem keystr="Requested Date" :value="info['approvedId']" />
				</div>
				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreadinput title="IP Name" :oldv="existingData['name']" :newv="newData.name" />
					<div style="width: 40px;"></div>
					<appreadinput title="IP Address" :oldv="existingData['ipAddress']" :newv="newData.ipAddress" />
				</div>
				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreadinput :icon="true" title="IP Start Date" :oldv="existingData['startDate']"
						:newv="newData.startDate" />
					<div style="width: 40px;"></div>
					<appreadinput :icon="true" title="IP End Date" :oldv="existingData['endDate']"
						:newv="newData.endDate" />
				</div>

			</div>

			<!-- btn -->
			<div style="display: flex;align-items: center;margin-top: 40px;">
				<appbutton color="#007aff" label="Approve Add New Branch" @click.native="passHandle" />
				<div style="width: 40px;"></div>
				<appbutton @click.native="rejectHandle" color="red" label="Reject Add New Branch" />
			</div>

		</div>

	</div>
</template>

<script>
	import {
		ippass,
		ipreject
	} from "@/api/ip_api.js";
	export default {
		mounted() {
			let {
				info
			} = this.$route.query;
			if (info == undefined) {
				this.$message.error("data error");
				setTimeout(() => {
					this.$router.go(-1);
				}, 2000);
				return;
			}
			let {
				approval
			} = info;
			this.info = info;
			this.newData = approval["newData"];
			this.existingData = approval["existingData"];
		},
		data() {
			return {
				info: {},
				newData: {},
				existingData: {},
			};
		},
		methods: {
			editHandle() {
				this.$router.push({
					path: "/ipedit",
				});
			},
			passHandle() {
				let {
					_id
				} = this.info;
				ippass(_id)
					.then(() => {
						this.$message.success("Successful Operation");
						setTimeout(() => {
							this.$router.replace({
								path: "/iplist",
							});
						}, 2000);
					})
					.catch((e) => {
						this.$message.error(e);
					});
			},
			rejectHandle() {
				let {
					_id
				} = this.info;
				ipreject(_id)
					.then(() => {
						this.$message.success("Successful Operation");
						setTimeout(() => {
							this.$router.replace({
								path: "/iplist",
							});
						}, 2000);
					})
					.catch((e) => {
						this.$message.error(e);
					});
			},
		},
	};
</script>




<style scoped>
	.page {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.body {
		flex: 1;
		padding: 0 40px;
		display: flex;
		flex-direction: column;
		padding-bottom: 30px;
	}
</style>
