<template>
    <div class="page">
        <appnavbar left="IP Management" />
        <div class="body">
            <apppagetitle txt="IP Management" />
            <!-- apps -->
            <activeuser />

            <!-- search -->
            <appsearch style="margin-top: 20px;" :btn="1" btnlabel="Add IP" :vmodel.sync="searchModel"
                @done="searchHandle" @click="addBtnClickHandle" />

            <!-- tab -->
            <apptab :items="['IP LIST','APPROVAL LIST']" :idx="tabIdx" @onTap="tabOnTap" style="margin-top: 40px;" />

            <!-- table -->
            <leftlist v-if="tabIdx==0" :kw="leftKey" />
            <rightlist v-else :kw="rightKey" />

        </div>

    </div>
</template>

<script>
    import { tenantactive } from "@/api/app_api.js";
    import leftlist from "./ip_left_list.vue";
    import rightlist from "./ip_right_list.vue";
    import activeuser from "@/components/active_user.vue";

    export default {
        components: {
            leftlist,
            rightlist,
            activeuser,
        },
        mounted() { },
        data() {
            return {
                clientId: "",
                tabIdx: 0,
                searchModel: "",
                leftKey: "",
                rightKey: "",
            };
        },
        methods: {
            netActiveApps() {
                tenantactive()
                    .then((response) => {
                        self.apps = response;
                    })
                    .catch((e) => {
                        self.apps = [];
                        console.error(e);
                    });
            },
            addBtnClickHandle() {
                this.$router.push({
                    path: "/ipadd",
                });
            },

            tabOnTap(idx) {
                this.tabIdx = idx;
            },
            searchHandle() {
                if (this.tabIdx == 0) {
                    this.leftKey = this.searchModel;
                } else {
                    this.rightKey = this.searchModel;
                }
            },

            cellSelectHandle(row) {
                //该行的数据
                console.log(row);
                this.$router.push({
                    path: "/ipread",
                });
            },
        },
    };
</script>

<style>
    .el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar-thumb {
        background-color: #999999 !important;
        height: 10px;
        border-radius: 5px;
    }

    .el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar {
        background-color: #ebebeb !important;
        height: 10px;
    }

    .el-table th.el-table__cell>.cell {
        padding-left: 0 !important;
    }

    /* 滑块颜色 */
</style>

<style scoped>
    .page {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .body {
        padding: 0 40px;
        flex: 1;
        overflow-y: auto;
    }
</style>