<template>
	<div class="page">
		<appnavbar left="IP Management / View IP" :canBack="1" />
		<div class="body">
			<div style="flex: 1;">
				<apppagetitle txt="View IP" />
				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreaditem keystr="Requested By" :value="info['creatorName']" />
					<appreaditem keystr="Approved By" :value="info['approverName']" />
					<div style="flex:1" />
				</div>
				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreaditem keystr="IP Name" :value="info['name']" />
					<appreaditem keystr="IP Address" :value="info['ipAddress']" />
					<appreaditem keystr="IP Created Date" :value="info['createdAt']" />
				</div>

			</div>

			<!-- btn -->

			<div style="display: flex;align-items: center;margin-top: 40px;">
				<appbutton color="#007aff" label="Edit IP" @click.native="editHandle" />
				<div style="width: 40px;"></div>
				<appbutton color="red" label="Delete IP" @click.native="delHandle" />
			</div>

		</div>

	</div>
</template>

<script>
	import {
		ipdetail,
		ipdel
	} from "@/api/ip_api.js";
	export default {
		mounted() {
			let {
				id
			} = this.$route.query;
			this.id = id;
			if (this.id == undefined || this.id.length == 0) {
				this.$message.error("data error");
				setTimeout(() => {
					this.$router.go(-1);
				}, 2000);
				return;
			}
			this.netIPDetail();
		},
		data() {
			return {
				info: {
					creatorName: "",
					approverName: "",
					name: "",
					ipAddress: "",
					createdAt: "",
				},
			};
		},
		methods: {
			backHandle() {
				this.$router.go(-1);
			},
			netIPDetail() {
				let self = this;
				ipdetail(this.id)
					.then((response) => {
						self.info = response;
					})
					.catch((e) => {
						self.list = [];
						console.error(e);
					});
			},
			editHandle() {
				this.$router.push({
					path: "/ipedit",
					query: this.info,
				});
			},
			delHandle() {
				this.showConfirm("Are you sure you delete ?", () => {
					this.netIPDel();
				});
			},
			netIPDel() {
				ipdel(this.id)
					.then(() => {
						this.$message.success("Successful Operation");
						setTimeout(() => {
							this.$router.replace({
								path: "/iplist",
							});
						}, 2000);
					})
					.catch((e) => {
						this.$message.error(e);
					});
			},
		},
	};
</script>




<style scoped>
	.page {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.body {
		flex: 1;
		padding: 0 40px;
		display: flex;
		flex-direction: column;
		padding-bottom: 30px;
	}
</style>
