<template>
  <!-- input -->
  <div class="view">
    <div class="title">{{keystr}}</div>
    <div class="value">{{value}}</div>
  </div>
</template>

<script>
export default {
  props: ["keystr", "value"],
  name: "readitem",
  mounted() {
    this.hasTitle = this.title != undefined;
  },
  data() {
    return {
      hasTitle: 1,
    };
  },
  methods: {},
};
</script>


<style scoped>
.view {
  flex: 1;
}
.title {
  /* font-family: SF Pro Text; */
  color: rgba(60, 60, 67, 0.6);
  font-size: 17px;
  line-height: 20px;
}
.value {
  margin-top: 15px;
  /* font-family: SF Pro Text; */
  /* font-weight: 300; */
  color: #080808;
  font-size: 20px;
  line-height: 28px;
}
</style>