<template>
	<!-- apps -->
	<div style="margin-top: 20px;">
		<div class="font-size:18px;color:#080808;">Active Users</div>
		<div class="app-body" id="app-body">
			<swiper ref="mySwiper" :options="swiperOption">
				<swiper-slide v-for="(obj,idx) in apps" :key="idx">
					<apptenantitem @activeApp="appTapHandle" :data="obj" :idx=idx :active="idx==currentAppIdx" />
				</swiper-slide>
			</swiper>

		</div>
	</div>
</template>

<script>
	import {
		tenantactive
	} from "@/api/app_api.js";
	export default {
		props: ["canselect"],
		mounted() {
			this.netActiveApps();
		},
		data() {
			return {
				apps: [
					// {
					// 	name: "app1",
					// 	count: 12
					// },
					// {
					// 	name: "app2",
					// 	count: 122
					// },
					// {
					// 	name: "app3",
					// 	count: 92
					// },
					// {
					// 	name: "app4",
					// 	count: 12
					// },
					// {
					// 	name: "app5",
					// 	count: 22
					// },
				],
				currentAppIdx: this.canselect ? 0 : -1,
				swiperOption: {
					slidesPerView: 3,
					spaceBetween: 12,
				},
			};
		},
		methods: {
			appTapHandle(idx) {
				if (this.canselect) {
					this.currentAppIdx = idx;
					let obj = this.apps[idx];
					this.$emit("onTap", obj["name"]);
				}
			},

			netActiveApps() {
				tenantactive()
					.then((response) => {
						self.apps = response;
					})
					.catch((e) => {
						self.apps = [];
						console.error(e);
					});
			},
		},
	};
</script>

<style>
	.swiper-slide {
		width: auto !important;
	}

	.swiper-container {
		margin-left: 0 !important;
	}
</style>
<style scoped>
	.app-body {
		margin-top: 20px;
		overflow-x: auto;
		display: flex;
		justify-content: flex-start;
	}

	.app-body::-webkit-scrollbar {
		width: 0 !important;
		height: 0 !important;
	}
</style>
