<template>
  <div>
    <div class="label">
      <div>{{title}}</div>
      <div
        style="color:red"
        v-if="must"
      >*</div>
    </div>
    <!-- input -->
    <div class="view">
      <el-date-picker
        v-model="value"
        type="date"
        prefix-icon="hide"
        placeholder="选择日期"
        style="width:100%;"
        value-format="yyyy-MM-dd"
        @change="inputHandle"
      >
      </el-date-picker>
      <i
        class=" Icon"
        style="color: rgba(13, 12, 12, 0.17);cursor: pointer;"
        v-if="clear"
        @click="clearHandle"
      >cancel</i>

      <i class="Icon">insert_invitation</i>
    </div>
  </div>
</template>

<script>
export default {
  name: "appdateinput",
  props: ["title", "must", "value", "placeholder"],
  mounted() {
    this.clear = this.value.length > 0;
  },
  data() {
    return {
      clear: false,
    };
  },
  watch: {
    value: {
      handler: function () {
        this.clear = this.value.length > 0;
      },
    },
  },
  methods: {
    clearHandle() {
      this.value = "";
      this.clear = false;
      this.$emit("update:value", this.value);
    },
    inputHandle() {
      this.clear = this.value.length > 0;
      this.$emit("update:value", this.value);
    },
  },
};
</script>


<style scoped>
.label {
  display: flex;
  font-size: 15px;
}
.view {
  margin-top: 10px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(13, 12, 12, 0.17);
  height: 40px;
  border-radius: 20px;
  padding: 0 12px;
}
</style>