<template>
  <!-- table title -->
  <div class="view">
    <div
      class="info"
      @click="clickHandle"
    >
      <div class="label">{{label}}</div>
      <i
        class="Icon icon"
        v-if="status==1"
      >arrow_upward</i>
      <i
        class="Icon icon"
        v-if="status==2"
      >arrow_downward</i>
    </div>
    <!-- line -->
    <div style="height:1px;background-color:#000000;margin-top:5px;"></div>
  </div>
</template>

<script>
export default {
  props: ["label", "status", "idx"],
  name: "apptabletitle",

  data() {
    return {};
  },
  methods: {
    clickHandle() {
      if (this.idx == undefined) {
        return;
      }
      if (undefined == this.status || this.status == 0) {
        this.status = 1;
      } else {
        this.status = this.status == 1 ? 2 : 1;
      }
      this.$bus.$emit("sortHandle", this.idx, this.status);
    },
  },
};
</script>


<style scoped>
.info {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.icon {
  font-size: 16px;
  color: black;
}
.label {
  font-size: 11px;
  color: #000000;
  margin-right: 5px;
}
.line {
  height: 1px;
  background-color: #000000;
  margin-top: 5px;
}
</style>