<template>
        <!-- input -->
        <div class="viewbody">
                <div class="label" v-if="hasTitle">
                        <div style="font-size: 17px;">{{title}}</div>
                </div>
                <div v-else style="height:20px;"></div>
                <!-- old -->

                <div style="display: flex;align-items: center;">
                        <div class="view old"
                                style="color: #080808;font-size: 12px;width: 130px;display: flex;justify-content: center;align-items: center;">
                                EXISTING
                        </div>
                        <div style="width: 20px;" />
                        <div class="view old" style="flex: 1;">
                                <input v-model="oldv" type="text" readonly>

                                <i class="Icon" v-if="icon">insert_invitation</i>

                        </div>
                </div>
                <!-- new -->
                <div style="display: flex;align-items: center;" :class="[hidenew==undefined?'':'hidden']">
                        <div class="view new"
                                style="color: #007aff;font-size: 12px;width: 130px;display: flex;justify-content: center;align-items: center;">
                                NEW
                        </div>
                        <div style="width: 20px;" />
                        <div class="view new" style="flex: 1;">
                                <input v-model="newv" type="text" readonly>
                                <i class="Icon" v-if="icon">insert_invitation</i>
                        </div>
                </div>
        </div>
</template>

<script>
        export default {
                props: ["title", "oldv", "newv", "icon", "hidenew"],
                name: "appreadinput",
                mounted() {
                        this.hasTitle = this.title != undefined;
                },
                data() {
                        return {
                                hasTitle: 1,
                        };
                },
                methods: {},
        };
</script>


<style scoped>
        .viewbody {
                flex: 1;
        }

        .label {
                display: flex;
                font-size: 15px;
        }

        .view {
                margin-top: 10px;
                display: flex;
                align-items: center;
                border: 1px solid rgba(13, 12, 12, 0.17);
                height: 40px;
                border-radius: 20px;
                padding: 0 12px;
        }

        .old {
                background-color: #e0e0e0;
                color: #080808;
        }

        .new {
                background-color: #e0e0e0;
                border: 1px solid #007aff;
        }

        .new input {
                color: #007aff;
        }

        input {
                border: none;
                flex: 1;
                height: 40px;
                width: 100%;
                background-color: transparent;
        }

        .hidden {
                visibility: hidden;
        }
</style>