<template>
	<!-- page title -->
	<div>
		<div class="title">
			Search
		</div>
		<div class="bottom">
			<el-input placeholder="Search" size="normal" class="input" v-model="vmodel" @input="inputHandle"
				@keyup.enter.native="onNext()"></el-input>

			<div class="btn" v-if="btn" @click="btnClickHandle">
				<i class="Icon">person_outline</i>
				<span>{{btnlabel}}</span>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: ["vmodel", "btn", "btnlabel"],
		name: "appitemtitle",
		mounted() {},
		data() {
			return {};
		},
		methods: {
			inputHandle() {
				this.$emit("update:vmodel", this.vmodel);
			},
			onNext() {
				this.$emit("done");
			},
			btnClickHandle() {
				this.$emit("click");
			},
		},
	};
</script>


<style scoped>
	.title {
		font-size: 20px;
	}

	.input {
		padding-left: 12px;
		width: 377px;
		height: 32px;
		font-size: 14px;
		background-color: rgba(118, 118, 128, 0.12);
		border-radius: 10px;
	}

	.bottom {
		margin-top: 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 138px;
		height: 42px;
		border-radius: 21px;
		border: 1px solid;
		border-color: #007aff;
		cursor: pointer;
		color: #007aff;
	}
</style>
