<template>
  <!-- page title -->
  <div class="view">
    {{title}}
  </div>
</template>

<script>
export default {
  name: "appitemtitle",
  props: ["title"],
  mounted() {},
  data() {
    return {};
  },
  methods: {},
};
</script>


<style scoped>
.view {
  font-size: 40px;
  color: black;
}
</style>