<template>

  <!-- page title -->
  <div class="view">
    {{txt}}
  </div>
</template>

<script>
export default {
  props: ["txt"],
  name: "apppagetitle",
  mounted() {},
  data() {
    return {};
  },
  methods: {},
};
</script>


<style scoped>
.view {
  font-size: 43px;
  color: black;
}
</style>