<template>
  <div class="view">
    <div
      :class="['item',index==idx?'active':'']"
      v-for="(item,idx) in showValues"
      :key="idx"
      @click="itemClickHandle(idx)"
      type="info"
    >
      {{ item }}
    </div>
  </div>
</template>

<script>
export default {
  props: ["index"],
  mounted() {},
  data() {
    return {
      showValues: [
        "Today",
        "Last Week",
        "Last Month",
        "Last 3 Month",
        "Last 6 Month",
      ],
      values: ["Today", "LastWeek", "LastMonth", "Last3Month", "Last6Month"],
    };
  },
  methods: {
    itemClickHandle(idx) {
      this.$emit("update:index", idx);
      this.$emit("onTap", this.values[idx]);
    },
  },
};
</script>



<style scoped>
.view {
  display: flex;
  flex-wrap: wrap;
}

.item {
  font-size: 12px;
  height: 30px;
  border-radius: 15px;
  overflow: hidden;
  color: #080808d8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  background-color: #fff;
  border: 1px solid #e6e6e6ff;
  margin-right: 12px;
  cursor: pointer;
  white-space: nowrap;
}

.active {
  color: #3272d8;
}
</style>