<template>
	<div>
		<div class="label">
			<div>{{title}}</div>
			<div style="color:red" v-if="must">*</div>
		</div>
		<!-- input -->
		<div class="view">
			<el-select placeholder="请选择" v-model="value" style="width:100%;" @change="inputHandle">
				<el-option v-for="(item,idx) in items" :key="idx" :label="item[showkey]" :value="item['_id']">
				</el-option>
			</el-select>
			<i class="Icon" style="color: rgba(13, 12, 12, 0.17);cursor: pointer;" v-if="clear"
				@click="clearHandle">cancel</i>

		</div>
	</div>
</template>

<script>
	export default {
		name: "appdateinput",
		props: ["title", "must", "value", "placeholder", "items", "showkey", "bk"],
		mounted() {
			this.clear = this.value.length > 0;
		},
		data() {
			return {
				clear: false,
				ovalue: "",
			};
		},
		methods: {
			clearHandle() {
				this.value = "";
				this.clear = false;
				this.$emit("update:value", this.value);
			},
			inputHandle() {
				this.clear = this.value.length > 0;
				this.$emit("update:value", this.value);
				if (this.clear) {
					for (let obj of this.items) {
						if (obj["_id"] == this.value) {
							this.$emit("cb", this.bk, obj[`${this.showkey}`])
							break;
						}
					}
				}
			},
		},
	};
</script>


<style scoped>
	.label {
		display: flex;
		font-size: 15px;
	}

	.view {
		margin-top: 10px;
		display: flex;
		align-items: center;
		border: 1px solid #0d0c0c2b;
		height: 40px;
		border-radius: 20px;
		padding: 0 12px;
	}
</style>
