<template>
    <div class="view">
        <div class="body">
            <!-- tab item -->
            <div class="tab-item" v-for="(n,i) in items" :key="i" @click="clickHandle(i)">
                <div class="tab-item-label">
                    <span :style="{fontWeight: i==idx?'bold':'normal'}">{{n}}</span>
                </div>
                <!-- line -->
                <div class="tab-item-line" v-if="i==idx"></div>
            </div>
        </div>

        <div class="line"></div>
    </div>
</template>

<script>
    export default {
        props: ["items", "idx"],
        name: "apptab",
        mounted() { },
        data() {
            return {};
        },
        methods: {
            clickHandle(index) {
                this.$emit("onTap", index)
            }
        },
    };
</script>


<style scoped>
    .view {
        height: 40px;
        display: flex;
        flex-direction: column;
    }

    .body {
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    .tab-item {
        margin-right: 25px;
        padding-right: 30px;
        display: flex;
        flex-direction: column;
        height: 100%;
        cursor: pointer;
    }

    .tab-item-label {
        font-size: 15px;
        line-height: 100%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tab-item-line {
        height: 2px;
        background-color: #000000;
        width: 130%;
    }

    .line {
        height: 1px;
        background-color: #d6d6d6;
    }
</style>