<template>
    <!-- input -->
    <div>
        <div class="label" v-if="hasTitle">
            <div style="font-size: 17px;">{{title}}</div>
            <div style="color:red" v-if="must">*</div>
        </div>
        <div v-else style="height:20px;"></div>
        <div class="view">
            <input v-model="value" type="text" :placeholder="placeholder" @input="inputHandle">
            <i class=" Icon" style="color: rgba(13, 12, 12, 0.17);cursor: pointer;" v-if="clear"
                @click="clearHandle">cancel</i>
        </div>
    </div>
</template>

<script>
    export default {
        props: ["title", "must", "value", "placeholder"],
        name: "appinput",
        mounted() {
            this.hasTitle = this.title != undefined;
            this.clear = this.value.length > 0;
        },
        watch: {
            value: {
                handler: function () {
                    this.clear = this.value.length > 0;
                },
            },
        },
        data() {
            return {
                hasTitle: 1,
                clear: false,
            };
        },
        methods: {
            clearHandle() {
                this.value = "";
                this.clear = false;
                this.$emit("update:value", this.value);
            },
            inputHandle() {
                this.clear = this.value.length > 0;
                this.$emit("update:value", this.value);
            },
        },
    };
</script>


<style scoped>
    .label {
        display: flex;
        font-size: 15px;
    }

    .view {
        margin-top: 10px;
        display: flex;
        align-items: center;
        border: 1px solid rgba(13, 12, 12, 0.17);
        height: 40px;
        border-radius: 20px;
        padding: 0 12px;
    }

    input {
        border: none;
        flex: 1;
        height: 40px;
        width: 100%;
        background-color: transparent;
    }
</style>