<template>
  <!-- bottom btn -->
  <div
    class="view"
    :style="{color:color,border:`1px solid ${color}`,}"
  >
    {{label}}
  </div>
</template>

<script>
export default {
  name: "appbutton",
  props: ["color", "label"],
  mounted() {},
  data() {
    return {};
  },
  methods: {},
};
</script>


<style scoped>
.view {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  border-radius: 8px;
  height: 43px;
  width: 250px;
  cursor: pointer;
}
</style>