<template>
  <!-- bottom btn -->
  <div
    class="view"
    @click="appClickHand"
    :style="{'backgroundColor':active?'#e6e6e6':'#ffffff'}"
  >
    <el-image
      class="icon"
      src=""
      fit="fill"
      :lazy="true"
    ></el-image>
    <div class="right">
      <!-- <span class="label">Test App</span> -->
      <!-- <div class="num">99</div> -->
      <span class="label">{{data['name']}}</span>
      <div class="num">{{data['count']}}</div>
    </div>

  </div>
</template>

<script>
export default {
  props: ["data", "idx", "active"],
  name: "appbutton",
  mounted() {},
  data() {
    return {};
  },
  methods: {
    appClickHand() {
      this.$emit("activeApp", this.idx);
    },
  },
};
</script>


<style scoped>
.view {
  background-color: #fff;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  width: 230px;
  height: 115px;
  display: flex;
  align-items: center;
  margin-right: 12px;
  cursor: pointer;
}

.icon {
  width: 78px;
  height: 78px;
  margin-left: 12px;
  border-radius: 39px;
  overflow: hidden;
  border: 2px solid #e6e6e6;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  justify-content: center;
}

.label {
  font-size: 15px;
  max-width: 100px;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  text-size-adjust: auto;
  color: #080808;
}

.num {
  margin-top: -10px;
  font-size: 45px;
  font-weight: bold;
}
</style>