<template>
  <div class="view">
    <!-- left -->
    <div
      class="left"
      @click="backHandle"
    >
      <i
        class="Icon"
        style="margin-right:12px;"
        v-if="canBack"
      >arrow_back</i>
      <div>{{left}}</div>
    </div>

    <div class="right">
      <el-badge
        :value="3"
        :max="99"
        class="badge"
        type="primary"
      >
        <i
          class="Icon"
          style="font-size: 30px;"
        >notifications_none</i>
      </el-badge>
      <!-- avatar -->
      <el-dropdown>
        <el-avatar
          :size="54"
          src="circleUrl"
        ></el-avatar>
        <el-dropdown-menu
          slot="dropdown"
          style="width:160px;"
        >
          <el-dropdown-item
            @click.native="itemClickHandle(idx)"
            style="font-size: 16px;text-align: center;line-height:60px;"
            v-for="(obj,idx) in items"
            :key="idx"
          >{{obj}}</el-dropdown-item>

        </el-dropdown-menu>
      </el-dropdown>

    </div>
  </div>
</template>

<script>
export default {
  name: "appnavbar",
  props: ["canBack", "left"],
  mounted() {},
  data() {
    return {
      items: ["Log out", "Version"],
    };
  },
  methods: {
    backHandle() {
      if (this.canBack) {
        this.$router.go(-1);
      }
    },

    itemClickHandle(idx) {
      if (idx == 0) {
        this.exitHandle();
      }
    },
    exitHandle() {
      this.$router.replace({
        path: "/login",
      });
    },
  },
};
</script>


<style>
.el-badge__content.is-fixed {
  top: 10px !important;
  right: 15px !important;
}
</style>
<style scoped>
.view {
  height: 64px;
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.left {
  display: flex;
  align-items: center;
  color: #71706f;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
}

.badge {
  margin-right: 25px;
}

el-dropdown-item {
  font-size: 22px !important;
  text-align: center !important;
}
</style>