<template>
  <div class="view">
    <div style="flex:1">
      <div
        class="menuitem"
        v-for="(dic,idx) in items"
        :style="{backgroundColor:idx==currentIdx?'#e8e7e4ff':''}"
        :key="idx"
        @click="linkClickHandle(idx,dic['uri'])"
      >
        <i class="Icon micon">{{dic.icon}}</i>
        <div class="label">{{dic.label}}</div>
      </div>
    </div>
    <!-- version -->
    <div class="version">© 2021 BIBD AT-TAMWIL BERHAD</div>
  </div>
</template>

<script>
export default {
  mounted() {},
  data() {
    return {
      currentIdx: -1,
      items: [
        {
          label: "Dashboard",
          icon: "person_outline",
          uri: "/home",
        },
        {
          label: "User Management",
          icon: "sticky_note_2",
          uri: "/userlist",
        },
        {
          label: "Device Management",
          icon: "person_outline",
          uri: "/devicelist",
        },
        {
          label: "Role Management",
          icon: "person_outline",
          uri: "/rolelist",
        },
        {
          label: "Tenant Management",
          icon: "person_outline",
          uri: "/applist",
        },
        {
          label: "IP Management",
          icon: "sticky_note_2",
          uri: "/iplist",
        },
        {
          label: "Branch Management",
          icon: "sticky_note_2",
          uri: "/branchlist",
        },
        {
          label: "Audit Log Management",
          icon: "sticky_note_2",
          uri: "/loglist",
        },
      ],
    };
  },
  methods: {
    linkClickHandle(idx, uri) {
      this.$emit("closedrawer");
      this.currentIdx = idx;
      this.$router.push({
        path: uri,
      });
    },
  },
};
</script>


<style scoped>
.view {
  background-color: rgb(245, 244, 240);
  min-width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.menuitem {
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #3a3a3a;
  cursor: pointer;
}

.micon {
  margin-right: 5px;
  color: #666666;
}

.label {
  flex: 1;
}

.version {
  font-size: 15px;
  text-align: center;
  color: #08080880;
  padding-bottom: 20px;
}
</style>