<template>
	<div class="page">
		<appnavbar left="Device Management / View Device" :canBack="1" />
		<div class="body">
			<div style="flex: 1;overflow-y: auto;">
				<apppagetitle txt="View Device" />
				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreaditem keystr="Requested By" :value="info['creatorName']" />
					<appreaditem keystr="Approved By" :value="info['approvedId']" />
					<div style="flex:1" />
				</div>
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreaditem keystr="Device ID" :value="info.deviceHardwareId" />
					<appreaditem keystr="Device Name" :value="info.name" />
					<appreaditem keystr="Asset Register" :value="info.assetRegister" />
				</div>
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreaditem keystr="MDM Registration Date" :value="info.mdmRegistrationDate" />
					<appreaditem keystr="Device Registration Date" :value="info.createdAt" />
					<appreaditem keystr="Device De-Registration Date" :value="info.deletedAt" />
				</div>
			</div>
			<!-- btn -->
			<div v-if="done" style="margin-top: 120px;">
				<div style="display: flex;align-items: center;" v-if="info['statusCode']==1">
					<appbutton color="#007aff" label="Back" @click.native="backHandle" />
				</div>
				<div style="display: flex;align-items: center;" v-else>
					<appbutton color="#007aff" label="Edit Device" @click.native="editHandle" />
					<div style="width: 40px;"></div>
					<appbutton color="red" label="Delete Device" @click.native="delHandle" />
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import {
		devicedetail,
		devicedel
	} from "@/api/device_api.js";
	export default {
		mounted() {
			let {
				id
			} = this.$route.query;
			this.id = id;
			if (this.id == undefined || this.id.length == 0) {
				this.$message.error("data error");
				setTimeout(() => {
					this.$router.go(-1);
				}, 2000);
				return;
			}
			this.netDeviceDetail();
		},
		data() {
			return {
				done: false,
				id: "",
				info: {

				},
			};
		},
		methods: {
			backHandle() {
				this.$router.go(-1);
			},
			netDeviceDetail() {
				let self = this;
				devicedetail(this.id)
					.then((response) => {
						self.done = true;
						self.info = response;
					})
					.catch((e) => {
						self.list = [];
						console.error(e);
					});
			},
			editHandle() {
				this.$router.push({
					path: "/deviceedit",
					query: this.info,
				});
			},
			delHandle() {
				this.showConfirm("Are you sure you delete ?", () => {
					this.netDeviceDel();
				});
			},
			netDeviceDel() {
				devicedel(this.id)
					.then(() => {
						this.$message.success("Successful Operation");
						setTimeout(() => {
							this.$router.replace({
								path: "/rolelist",
							});
						}, 2000);
					})
					.catch((e) => {
						this.$message.error(e);
					});
			},
		},
	};
</script>




<style scoped>
	.page {
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	.body {
		flex: 1;
		padding: 0 40px;
		display: flex;
		flex-direction: column;
		padding-bottom: 30px;
	}

	/* ipad */
	@media screen and (max-width: 1180px) {
		.page {
			flex: 1;
		}
	}
</style>
