<template>
	<div class="page">

		<!-- table -->
		<el-table :data="list" @row-click="cellSelectHandle">
			<el-table-column prop="name" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[0]" :idx="0" label='DEVICE NAME' />
				</template>
			</el-table-column>

			<el-table-column prop="deviceHardwareId" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[1]" :idx="1" label='DEVICE ID' />
				</template>
			</el-table-column>

			<el-table-column prop="assetRegister" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[2]" :idx="2" label='ASSET REGISTER' />
				</template>
			</el-table-column>

			<el-table-column prop="mdmRegistrationDate" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[3]" :idx="3" label='MDM REGISTRATION DATE' />
				</template>
			</el-table-column>

			<el-table-column prop="creatorName" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[4]" :idx="4" label='REQUESTED BY' />
				</template>
			</el-table-column>

			<el-table-column prop="createdAt" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[5]" :idx="5" label='REQUESTED DATE' />
				</template>
			</el-table-column>

			<el-table-column prop="operationType" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[6]" :idx="6" label='ACTION' />
				</template>
				<template slot-scope="{row}">
					<div>{{row.approval.operationType}}</div>
				</template>
			</el-table-column>

		</el-table>

	</div>
</template>

<script>
	import {
		approvaldevicelist
	} from "@/api/device_api.js";

	export default {
		props: ["kw"],
		watch: {
			kw: {
				handler: function(nl, ol) {
					console.log(ol, nl);
					this.fi["_keyword"] = nl;
					this.list = [];
					this.netDeviceList();
				},
			},
		},
		mounted() {
			this.sortInit();
			this.netDeviceList();
		},
		data() {
			return {
				clientId: "",
				fi: {
					_page: 1,
					_pageSize: 50,
					_keyword: undefined,
					clientId: undefined,
					period: undefined,
					_orderby: undefined,
				},
				sortkeys: [
					"name",
					"deviceHardwareId",
					"assetRegister",
					"mdmRegistrationDate",
					"creatorName",
					"createdAt",
					"operationType",
				],
				list: [],
				colsStatus: [0, 0, 0, 0, 0, 0, 0, 0, 0],
				tabIdx: 0,
			};
		},
		methods: {
			sortInit() {
				let self = this;
				this.$bus.$on("sortHandle", (idx, e) => {
					let arr = [0, 0, 0, 0, 0, 0];
					arr[idx] = e;
					self.colsStatus = arr;

					self.fi["period"] = self.sortkeys[idx];
					if (e == 1) {
						self.fi["_orderby"] = `${self.sortkeys[idx]} asc`;
					} else {
						self.fi["_orderby"] = `${self.sortkeys[idx]} desc`;
					}
					self.list = [];
					self.netDeviceList();
				});
			},
			netDeviceList() {
				let self = this;
				approvaldevicelist(this.fi)
					.then((response) => {
						let {
							list
						} = response;
						self.list = list;
						console.log("============数据========================");
						console.log(response);
						console.log("====================================");
					})
					.catch((e) => {
						self.list = [];
						console.error(e);
					});
			},

			cellSelectHandle(row) {
				let approval = row["approval"];
				let type = approval["operationType"];
				let newData = approval["newData"];

				if (type == "create") {
					this.$router.push({
						path: "/deviceapprovaladd",
						query: {
							info: newData,
						},
					});
				} else {
					this.$router.push({
						path: "/deviceapprovaledit",
						query: {
							info: row,
						},
					});
				}
			},
		
		},
	};
</script>

<style>
	.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar-thumb {
		background-color: #999999 !important;
		height: 10px;
		border-radius: 5px;
	}

	.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar {
		background-color: #ebebeb !important;
		height: 10px;
	}

	.el-table th.el-table__cell>.cell {
		padding-left: 0 !important;
	}

	/* 滑块颜色 */
</style>

<style scoped>
</style>
