<template>
	<div class="page">
		<appnavbar left="Device Management / New Tenant Approval" :canBack="1" />
		<div class="body">
			<div style="flex: 1;">
				<apppagetitle txt="Add New Tenant Approval" />
				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreaditem keystr="Requested By" :value="info['creatorName']" />
					<appreaditem keystr="Approved By" :value="info['approverName']" />
					<div style="flex:1" />
				</div>
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreaditem keystr="Device ID" :value="info.deviceHardwareId" />
					<appreaditem keystr="Device Name" :value="info.name" />
					<appreaditem keystr="Asset Register" :value="info.assetRegister" />
				</div>
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreaditem keystr="MDM Registration Date" :value="info.mdmRegistrationDate" />
					<appreaditem keystr="Device Registration Date" :value="info.createdAt" />
					<appreaditem keystr="Device De-Registration Date" :value="info.deletedAt" />
				</div>
			</div>

			<!-- btn -->


			<!-- btn -->
			<div style="display: flex;align-items: center;margin-top: 40px;">
				<appbutton color="#007aff" label="Approve Add New Device" @click.native="passHandle" />
				<div style="width: 40px;"></div>
				<appbutton @click.native="rejectHandle" color="red" label="Reject Add New Device" />
			</div>


		</div>

	</div>
</template>

<script>
	import {
		devicepass,
		devicereject
	} from "../../api/device_api.js";
	export default {
		mounted() {
			let {
				info
			} = this.$route.query;
			this.info = info;
			if (this.info == undefined) {
				this.$message.error("data error");
				setTimeout(() => {
					this.$router.go(-1);
				}, 2000);
				return;
			}
		},
		data() {
			return {
				id: "",
				info: {},
			};
		},
		methods: {



			passHandle() {
				let {
					_id
				} = this.info;
				devicepass(_id).then(() => {
					this.$message.success('Successful Operation');
					setTimeout(() => {
						this.$router.replace({
							path: "/devicelist"
						})
					}, 2000);
				}).catch((e) => {
					this.$message.error(e);
				});
			},
			rejectHandle() {
				let {
					_id
				} = this.info;
				devicereject(_id).then(() => {
					this.$message.success('Successful Operation');
					setTimeout(() => {
						this.$router.replace({
							path: "/devicelist"
						})
					}, 2000);
				}).catch((e) => {
					this.$message.error(e);
				});
			}
		},
	};
</script>




<style scoped>
	.page {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.body {
		flex: 1;
		padding: 0 40px;
		display: flex;
		flex-direction: column;
		padding-bottom: 30px;
	}
</style>
