<template>
	<div class="page">

		<!-- table -->
		<el-table :data="list" @row-click="cellSelectHandle">
			<el-table-column prop="name" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[0]" :idx="0" label="DEVICE NAME" />
				</template>
			</el-table-column>

			<el-table-column prop="deviceHardwareId" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[1]" :idx="1" label="DEVICE ID" />
				</template>
			</el-table-column>

			<el-table-column prop="assetRegister" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[2]" :idx="2" label="ASSET REGISTER" />
				</template>
			</el-table-column>

			<el-table-column prop="mdmRegistrationDate" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[3]" :idx="3" label="MDM REGISTRATION DATE" />
				</template>
			</el-table-column>

			<el-table-column prop="creatorName" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[4]" :idx="4" label="REQUESTED BY" />
				</template>
			</el-table-column>

			<el-table-column prop="approvedAt" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[5]" :idx="5" label="APPROVER" />
				</template>
			</el-table-column>

			<el-table-column prop="startDate" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[6]" :idx="6" label="START DATE" />
				</template>
			</el-table-column>

			<el-table-column prop="endDate" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[7]" :idx="7" label="END DATE" />
				</template>
			</el-table-column>

			<el-table-column prop="statusCode" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[8]" :idx="8" label="APPROVAL STATUS" />
				</template>
				<template slot-scope="{row}">
					<div style="display: flex;align-items: center;">
						<div
							:style="{'marginRight': '5px','width': '10px','height': '10px','backgroundColor':scolor(row.statusCode),'borderRadius': '5px',}">
						</div>
						<div>{{row["statusName"]}}</div>
					</div>
				</template>
			</el-table-column>

		</el-table>

	</div>
</template>

<script>
	import {
		devicelist
	} from "@/api/device_api.js";

	export default {
		props: ["kw"],
		watch: {
			kw: {
				handler: function(nl, ol) {
					console.log(ol, nl);
					this.fi["_keyword"] = nl;
					this.list = [];
					this.netDeviceList();
				},
			},
		},
		mounted() {
			this.sortInit();
			this.netDeviceList();
		},
		data() {
			return {
				clientId: "",
				fi: {
					_page: 1,
					_pageSize: 50,
					_keyword: undefined,
					clientId: undefined,
					period: undefined,
					_orderby: undefined,
				},
				sortkeys: [
					"name",
					"deviceHardwareId",
					"assetRegister",
					"mdmRegistrationDate",
					"creatorName",
					"approvedAt",
					"startDate",
					"endDate",
					"statusCode",
				],
				list: [],
				colsStatus: [0, 0, 0, 0, 0, 0, 0, 0, 0],
				tabIdx: 0,
			};
		},
		methods: {
			sortInit() {
				let self = this;
				this.$bus.$on("sortHandle", (idx, e) => {
					let arr = [0, 0, 0, 0, 0, 0];
					arr[idx] = e;
					self.colsStatus = arr;

					self.fi["period"] = self.sortkeys[idx];
					if (e == 1) {
						self.fi["_orderby"] = `${self.sortkeys[idx]} asc`;
					} else {
						self.fi["_orderby"] = `${self.sortkeys[idx]} desc`;
					}
					self.list = [];
					self.netDeviceList();
				});
			},
			netDeviceList() {
				let self = this;
				devicelist(this.fi)
					.then((response) => {
						let {
							list
						} = response;
						self.list = list;
						console.log("============数据========================");
						console.log(response);
						console.log("====================================");
					})
					.catch((e) => {
						self.list = [];
						console.error(e);
					});
			},

			cellSelectHandle(row) {
				this.$router.push({
					path: "/deviceread",
					query: {
						id: row["_id"],
					},
				});
			},
			scolor(idx) {
				return window.scolors[idx];
			}
		},
	};
</script>

<style>
	.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar-thumb {
		background-color: #999999 !important;
		height: 10px;
		border-radius: 5px;
	}

	.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar {
		background-color: #ebebeb !important;
		height: 10px;
	}

	.el-table th.el-table__cell>.cell {
		padding-left: 0 !important;
	}

	/* 滑块颜色 */
</style>

<style scoped>
</style>
