<template>
  <div class="page">
    <appnavbar left="Device Management" />
    <div class="body">
      <apppagetitle txt="Device Management" />
      <!-- apps -->
      <activeuser />
      <!-- search -->
      <appsearch
        style="margin-top: 20px;"
        :btn="1"
        btnlabel="Add Device"
        :vmodel.sync="searchModel"
        @done="searchHandle"
        @click="addBtnClickHandle"
      />
      <!-- tab -->
      <apptab
        :items="['DEVICE LIST','APPROVAL LIST']"
        :idx="tabIdx"
        @onTap="tabOnTap"
        style="margin-top: 40px;"
      />

      <!-- table -->
      <leftlist
        v-if="tabIdx==0"
        :kw="leftKey"
      />
      <rightlist
        v-else
        :kw="rightKey"
      />

    </div>

  </div>
</template>

<script>
import { tenantactive } from "@/api/app_api.js";
import leftlist from "./device_left_list.vue";
import rightlist from "./device_right_list.vue";
import activeuser from "@/components/active_user.vue";
export default {
  components: {
    leftlist,
    rightlist,
    activeuser,
  },
  mounted() {
    this.scrollInit();
  },
  data() {
    return {
      clientId: "",
      tabIdx: 0,
      apps: [],
      searchModel: "",
      leftKey: "",
      rightKey: "",
    };
  },
  methods: {
    netActiveApps() {
      tenantactive()
        .then((response) => {
          self.apps = response;
        })
        .catch((e) => {
          self.apps = [];
          console.error(e);
        });
    },
    addBtnClickHandle() {
      this.$router.push({
        path: "/deviceadd",
      });
    },
    tabOnTap(idx) {
      this.tabIdx = idx;
    },

    scrollInit() {
      // 获取要绑定事件的元素
      const scrollDiv = document.getElementById("app-body");
      // document.addEventListener('DOMMouseScroll', handler, false)
      // 添加滚轮滚动监听事件，一般是用下面的方法，上面的是火狐的写法
      scrollDiv.addEventListener("mousewheel", handler, false);
      // 滚动事件的出来函数
      function handler(event) {
        // 获取滚动方向
        const detail = event.wheelDelta || event.detail;
        // 定义滚动方向，其实也可以在赋值的时候写
        const moveForwardStep = 1;
        const moveBackStep = -1;
        // 定义滚动距离
        let step = 0;
        // 判断滚动方向,这里的100可以改，代表滚动幅度，也就是说滚动幅度是自定义的
        if (detail < 0) {
          step = moveForwardStep * 100;
        } else {
          step = moveBackStep * 100;
        }
        // 对需要滚动的元素进行滚动操作
        scrollDiv.scrollLeft += step;
      }
    },

    searchHandle() {
      if (this.tabIdx == 0) {
        this.leftKey = this.searchModel;
      } else {
        this.rightKey = this.searchModel;
      }
    },
  },
};
</script>

<style>
.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar-thumb {
  background-color: #999999 !important;
  height: 10px;
  border-radius: 5px;
}

.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar {
  background-color: #ebebeb !important;
  height: 10px;
}

.el-table th.el-table__cell > .cell {
  padding-left: 0 !important;
}

/* 滑块颜色 */
</style>

<style scoped>
.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.body {
  padding: 0 40px;
  flex: 1;
  overflow-y: auto;
}
</style>