<template>
	<div class="page">
		<appnavbar left="Device Management / Edit Device Approval" :canBack="1" />
		<div class="body">
			<div style="flex: 1;">
				<apppagetitle txt="Edit Device Approval" />
				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreaditem keystr="Requested By" :value="info['creatorName']" />
					<div style="width: 40px;"></div>
					<appreaditem keystr="Approved By" :value="info['approverName']" />
				</div>
				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreadinput title="Device ID" :oldv="existingData.deviceHardwareId" :newv="newData.deviceHardwareId"/>
					<div style="width: 40px;"></div>
					<appreadinput title="Device Name" :oldv="existingData.name" :newv="newData.name" />
				</div>
				<!-- items -->

				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreadinput title="Asset Register" :oldv="existingData.assetRegister" :newv="newData.assetRegister" />
					<div style="width: 40px;"></div>
					<appreadinput title="MDM Registration Date" :oldv="existingData.mdmRegistrationDate" :newv="newData.mdmRegistrationDate" :icon="1" />
				</div>
				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreadinput title="Device Registration Date" :oldv="existingData.createdAt" :newv="newData.createdAt" :icon="1" />
					<div style="width: 40px;"></div>
					<appreadinput title="Device De-Registration Date" :oldv="existingData.deletedAt" :newv="newData.deletedAt" :icon="1" />
				</div>
			</div>

			<!-- btn -->
			<div style="display: flex;align-items: center;margin-top: 40px;">
				<appbutton color="#007aff" label="Approve Add New Device" @click.native="passHandle" />
				<div style="width: 40px;"></div>
				<appbutton @click.native="rejectHandle" color="red" label="Reject Add New Device" />
			</div>

		</div>

	</div>
</template>

<script>
	import {
		devicepass,
		devicereject
	} from "../../api/device_api.js";
	export default {
		mounted() {
			let {
				info
			} = this.$route.query;
			if (info == undefined) {
				this.$message.error("data error");
				setTimeout(() => {
					this.$router.go(-1);
				}, 2000);
				return;
			}
			this.info = info["approval"];
			let {
				approval
			} = info;
			this.newData = approval["newData"];
			this.existingData = approval["existingData"];


		},
		data() {
			return {
				id: "",
				existingData: {},
				newData: {},
				info: {

				},
			};
		},
		methods: {
			passHandle() {
				let {
					_id
				} = this.info;
				devicepass(_id).then(() => {
					this.$message.success('Successful Operation');
					setTimeout(() => {
						this.$router.replace({
							path: "/devicelist"
						})
					}, 2000);
				}).catch((e) => {
					this.$message.error(e);
				});
			},
			rejectHandle() {
				let {
					_id
				} = this.info;
				devicereject(_id).then(() => {
					this.$message.success('Successful Operation');
					setTimeout(() => {
						this.$router.replace({
							path: "/devicelist"
						})
					}, 2000);
				}).catch((e) => {
					this.$message.error(e);
				});
			}
		},
	};
</script>




<style scoped>
	.page {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.body {
		flex: 1;
		padding: 0 40px;
		display: flex;
		flex-direction: column;
		padding-bottom: 30px;
	}
</style>
