<template>
	<div class="page">
		<appnavbar left="Device Management / Add New Device" :canBack="1" />
		<div class="body">
			<div style="flex: 1;">
				<apppagetitle txt="Add New Device" />
				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appinput title="Device ID" :must="1" :value.sync="info.deviceHardwareId" style="flex:1;" placeholder="Device ID"/>
					<div style="width: 40px;"></div>
					<appinput title="Device Name" :must="1" :value.sync="info.name" style="flex:1;" placeholder="Device Name"/>
				</div>
				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appinput title="Asset Register" :must="1" :value.sync="info.assetRegister" style="flex:1;" placeholder="Asset Register"/>
					<div style="width: 40px;"></div>
					<appdateinput title="MDM Registration Date*" :must="1" :value.sync="info.mdmRegistrationDate"
						style="flex:1;" placeholder="MDM Registration Date"/>
				</div>

				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appdateinput title="Device Registration Date" :must="1" :value.sync="info.startDate"
						style="flex:1;" placeholder="Device Registration Date"/>
					<div style="width: 40px;"></div>
					<appdateinput title="Device De-Registration Date (optional)" :must="0" :value.sync="info.endDate"
						style="flex:1;" placeholder="Device De-Registration Date"/>
				</div>

			</div>

			<!-- btn -->
			<div style="display: flex;align-items: center;margin-top: 40px;">
				<appbutton color="#007aff" label="Submit for Approval" @click.native="saveHandle"/>
				<div style="width: 40px;"></div>
				<appbutton @click.native="cancelHandle" color="#007aff" label="Cancel" />
			</div>

		</div>

	</div>
</template>

<script>
	import {
		deviceadd
	} from "../../api/device_api.js"


	export default {
		mounted() {},
		data() {
			return {
				info: {
					deviceHardwareId: "",
					name: "",
					assetRegister: "",
					mdmRegistrationDate: "",
					startDate: "",
					endDate: "",
				},
			};
		},
		methods: {



			saveHandle() {
				let {
					deviceHardwareId,
					name,
					assetRegister,
					mdmRegistrationDate,
					startDate,
				} = this.info;
				if (deviceHardwareId.length != 0 &&
					name.length != 0 &&
					startDate.length != 0 &&
					assetRegister.length != 0 &&
					mdmRegistrationDate.length != 0) {
					this.netDeviceAdd();
				} else {
					this.$message.error("请填写必要字段");
				}
			},
			cancelHandle() {
				this.$router.go(-1);
			},

			netDeviceAdd() {
				deviceadd(this.info)
					.then(() => {
						this.$message.success("Successful Operation");
						setTimeout(() => {
							this.$router.replace({
								path: "/devicelist",
							});
						}, 2000);
					})
					.catch((e) => {
						this.$message.error(e);
					});
			},
		},
	};
</script>




<style scoped>
	.page {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.body {
		flex: 1;
		padding: 0 40px;
		display: flex;
		flex-direction: column;
		padding-bottom: 30px;
	}
</style>
