<template>
        <div class="page">
                <appnavbar left="User Management / View User" :canBack="1" />
                <div class="body">
                        <apppagetitle txt="View User" style="margin-bottom:30px;" />
                        <!-- profile -->
                        <div class="profile">
                                <!-- left -->
                                <div class="left">
                                        <el-image :src="info.image" fit="cover" :lazy="true"
                                                style="width: 198px;height: 198px;border-radius: 50%;overflow: hidden;">
                                        </el-image>
                                        <!-- add btn -->
                                        <el-link type="primary" style="margin-top:30px;">Add Photo</el-link>
                                </div>

                                <!-- right -->
                                <div class="right">
                                        <!-- 1 -->
                                        <div style="font-size: 50px;">{{info.name}}</div>
                                        <!-- 2 -->
                                        <div style="display: flex;align-items: center;margin-top:20px;
                                                width: 70%;">
                                                <appreaditem keystr="OTP Phone Number" :value="info.phone"
                                                        style="flex: 1;" />
                                                <appreaditem keystr="Email Address" :value="info.email"
                                                        style="flex: 2;" />
                                        </div>

                                        <!-- 3 -->
                                        <div style="display: flex;align-items: center;margin-top:20px;
                                        width: 70%;">
                                                <appreaditem keystr="User Name" :value="info.userName"
                                                        style="flex: 1;" />
                                                <appreaditem keystr="User SamAccountName Logon"
                                                        :value="info.description" style="flex: 2;" />

                                        </div>
                                </div>
                        </div>
                        <!-- device -->
                        <readdevice :items="info.deviceList" />
                        <!-- ip -->
                        <readip :items="info.ipList" />
                        <!-- app -->

                        <readapp :items="tenantList" />
                        <!-- detial log -->
                        <readlog />

                        <!-- btn -->
                        <div style="display: flex;align-items: center;margin-top: 40px;">
                                <appbutton color="#007aff" label="Edit User" @click.native="editHandle" />
                                <div style="width: 40px;"></div>
                                <appbutton color="red" label="Terminate Session" />
                                <div style="width: 40px;"></div>
                                <appbutton color="red" label="Terminate User" />
                        </div>

                </div>
        </div>
</template>

<script>
        import { userdetail } from "@/api/user_api.js";
        import readdevice from "./view/read_device.vue";
        import readip from "./view/read_ip.vue";
        import readlog from "./view/read_log.vue";
        import readapp from "./view/read_app.vue";
        export default {
                mounted() {
                        let { id } = this.$route.query;
                        this.id = id;
                        if (this.id == undefined || this.id.length == 0) {
                                this.$message.error("data error");
                                setTimeout(() => {
                                        this.$router.go(-1);
                                }, 2000);
                                return;
                        }
                        this.netUserDetail();
                },
                components: {
                        readdevice,
                        readip,
                        readapp,
                        readlog,
                },
                data() {
                        return {
                                id: "",
                                tenantList: [],
                                info: {
                                        _id: "2593ec8ed577f587c1cb106075668dae",
                                        name: "zman3",
                                        image:
                                                "https://tse1-mm.cn.bing.net/th/id/R-C.5c044da9508211bf1ff44d996824cd5a?rik=oBfxxrbYDhMh4Q&riu=http%3a%2f%2fimage.qianye88.com%2fpic%2f4c11ee84ffc0a357077ee1f17f031afc&ehk=cWBo45ZMkSVNT4mlS2b8MmJVY8DE9seQYFmXe%2f7rTcw%3d&risl=&pid=ImgRaw&r=0",
                                        phone: "111111",
                                        email: "111111@xx.com",
                                        description: "",
                                        authUserId: "0f758e69-8c6d-43dd-b490-92931136b65c",
                                        statusCode: 2,
                                        statusName: "Approved",
                                        creatorId: "1",
                                        creatorName: "jacky",
                                        approverId: null,
                                        approvedAt: null,
                                        createdAt: "2021-12-20 22:32:39",
                                        updatedAt: "2021-12-20 22:32:39",
                                        deletedAt: null,
                                        syncFlag: 0,
                                        syncAt: null,
                                        syncMsg: null,
                                        approvalId: null,
                                        ipList: [
                                                {
                                                        _id: "114ed1a47add65fcb6f72adc3cb24dda",
                                                        userId: "2593ec8ed577f587c1cb106075668dae",
                                                        ipId: "61391f2f4388115df0e1eecfa17ac43c",
                                                        startDate: "2021-12-20",
                                                        endDate: "2022-11-12",
                                                        statusCode: 1,
                                                        statusName: "Approved wait",
                                                        creatorId: "1",
                                                        creatorName: "jacky",
                                                        approverId: null,
                                                        approvedAt: null,
                                                        createdAt: "2021-12-20 22:32:40",
                                                        updatedAt: "2021-12-20 22:32:40",
                                                        deletedAt: null,
                                                        syncFlag: 0,
                                                        syncAt: null,
                                                        syncMsg: null,
                                                        approvalId: null,
                                                        ipName: "ip21",
                                                        approval: {
                                                                _id: "e6cedb7f7323d89f6302d40a63cbf7b0",
                                                                refId: "114ed1a47add65fcb6f72adc3cb24dda",
                                                                resourceType: "USERIP",
                                                                operationType: "create",
                                                                statusCode: 1,
                                                                creatorId: "1",
                                                                creatorName: "jacky",
                                                                existingData: "",
                                                                newData: {
                                                                        _id: "114ed1a47add65fcb6f72adc3cb24dda",
                                                                        ipId: "61391f2f4388115df0e1eecfa17ac43c",
                                                                        ipName: null,
                                                                        userId: "2593ec8ed577f587c1cb106075668dae",
                                                                        endDate: "2022-11-12",
                                                                        createdAt: "2021-12-20 22:32:40",
                                                                        creatorId: "1",
                                                                        startDate: "2021-12-20",
                                                                        updatedAt: "2021-12-20 22:32:40",
                                                                        approvalId: null,
                                                                        statusCode: 1,
                                                                        statusName: "Approved wait",
                                                                        creatorName: "jacky",
                                                                },
                                                                approverId: "",
                                                                approvedAt: null,
                                                                createdAt: "2021-12-20 22:32:40",
                                                                updatedAt: null,
                                                                approvalId: null,
                                                        },
                                                },
                                        ],
                                        deviceList: [
                                                {
                                                        _id: "5e10916eccf2a5225e68c9fc46a472a9",
                                                        userId: "2593ec8ed577f587c1cb106075668dae",
                                                        deviceId: "db1680050a076e257d7a1e52651e0969",
                                                        startDate: "2021-12-20",
                                                        endDate: "2022-11-12",
                                                        statusCode: 1,
                                                        statusName: "Approved wait",
                                                        creatorId: "1",
                                                        creatorName: "jacky",
                                                        approverId: null,
                                                        approvedAt: null,
                                                        createdAt: "2021-12-20 22:32:40",
                                                        updatedAt: "2021-12-20 22:32:40",
                                                        deletedAt: null,
                                                        syncFlag: 0,
                                                        syncAt: null,
                                                        syncMsg: null,
                                                        approvalId: null,
                                                        deviceName: null,
                                                        approval: {
                                                                _id: "2d2b72898f7020397fd912ff861b0948",
                                                                refId: "5e10916eccf2a5225e68c9fc46a472a9",
                                                                resourceType: "USERDEVICE",
                                                                operationType: "create",
                                                                statusCode: 1,
                                                                creatorId: "1",
                                                                creatorName: "jacky",
                                                                existingData: "",
                                                                newData: {
                                                                        _id: "5e10916eccf2a5225e68c9fc46a472a9",
                                                                        userId: "2593ec8ed577f587c1cb106075668dae",
                                                                        endDate: "2022-11-12",
                                                                        deviceId: "db1680050a076e257d7a1e52651e0969",
                                                                        createdAt: "2021-12-20 22:32:40",
                                                                        creatorId: "1",
                                                                        startDate: "2021-12-20",
                                                                        updatedAt: "2021-12-20 22:32:40",
                                                                        approvalId: null,
                                                                        deviceName: null,
                                                                        statusCode: 1,
                                                                        statusName: "Approved wait",
                                                                        creatorName: "jacky",
                                                                },
                                                                approverId: "",
                                                                approvedAt: null,
                                                                createdAt: "2021-12-20 22:32:40",
                                                                updatedAt: null,
                                                                approvalId: null,
                                                        },
                                                },
                                        ],
                                        roleList: [
                                                {
                                                        _id: "69646ea610923a088e5296bc9aa8280c",
                                                        userId: "2593ec8ed577f587c1cb106075668dae",
                                                        roleId: "26aabaa3685d216e6043547c50197f31",
                                                        branchId: "962a43fa0723bdac796a5c3da560dde4",
                                                        startDate: "2021-12-20",
                                                        endDate: "2022-11-12",
                                                        statusCode: 1,
                                                        statusName: "Approved wait",
                                                        creatorId: "1",
                                                        creatorName: "jacky",
                                                        approverId: null,
                                                        approvedAt: null,
                                                        createdAt: "2021-12-20 22:32:40",
                                                        updatedAt: "2021-12-20 22:32:40",
                                                        deletedAt: null,
                                                        syncFlag: 0,
                                                        syncAt: null,
                                                        syncMsg: null,
                                                        approvalId: null,
                                                        roleName: "role3",
                                                        branchName: "branch1",
                                                        tenantId: "2b01f724b75c15c6b67317d406ad9f3c",
                                                        approval: {
                                                                _id: "790331139bf747d2f486c77e26907cdc",
                                                                refId: "69646ea610923a088e5296bc9aa8280c",
                                                                resourceType: "USERROLE",
                                                                operationType: "create",
                                                                statusCode: 1,
                                                                creatorId: "1",
                                                                creatorName: "jacky",
                                                                existingData: "",
                                                                newData: {
                                                                        _id: "69646ea610923a088e5296bc9aa8280c",
                                                                        roleId: "26aabaa3685d216e6043547c50197f31",
                                                                        userId: "2593ec8ed577f587c1cb106075668dae",
                                                                        endDate: "2022-11-12",
                                                                        branchId: "962a43fa0723bdac796a5c3da560dde4",
                                                                        roleName: null,
                                                                        tenantId: null,
                                                                        createdAt: "2021-12-20 22:32:40",
                                                                        creatorId: "1",
                                                                        startDate: "2021-12-20",
                                                                        updatedAt: "2021-12-20 22:32:40",
                                                                        approvalId: null,
                                                                        branchName: null,
                                                                        statusCode: 1,
                                                                        statusName: "Approved wait",
                                                                        creatorName: "jacky",
                                                                },
                                                                approverId: "",
                                                                approvedAt: null,
                                                                createdAt: "2021-12-20 22:32:40",
                                                                updatedAt: null,
                                                        },
                                                },
                                        ],
                                        tenantList: [],
                                },
                        };
                },
                methods: {
                        netUserDetail() {
                                let self = this;
                                userdetail(this.id)
                                        .then((response) => {
                                                self.info = response;
                                                self.tenantList = [
                                                        {
                                                                tenantName: "app1",
                                                                roleList: [
                                                                        {
                                                                                roleName: "szw0",
                                                                                branchName: "szw1",
                                                                                creatorName: "szw2",
                                                                                approvedAt: "szw3",
                                                                                startDate: "szw4",
                                                                                endDate: "szw5",
                                                                                statusName: "szw6",
                                                                        },
                                                                ],
                                                        },
                                                        {
                                                                tenantName: "app2",
                                                                roleList: [
                                                                        {
                                                                                roleName: "app2000000000",
                                                                                branchName: "szw1",
                                                                                creatorName: "szw2",
                                                                                approvedAt: "szw3",
                                                                                startDate: "szw4",
                                                                                endDate: "szw5",
                                                                                statusName: "szw6",
                                                                        },
                                                                ],
                                                        },
                                                ];
                                        })
                                        .catch((e) => {
                                                self.list = [];
                                                console.error(e);
                                        });
                        },
                        editHandle() {
                                this.$router.push({
                                        path: "/useredit",
                                });
                        },
                },
        };
</script>


<style scoped>
        .page {
                height: 100vh;
                overflow-y: auto;
        }

        .body {
                padding: 0 40px;
                padding-bottom: 30px;
        }

        .profile {
                display: flex;
        }

        .left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
        }

        .right {
                flex: 1;
                padding: 0 80px;
        }

        .sessn-item {
                margin-top: 20px;
        }

        .sesson-titile {
                font-size: 25px;
                font-weight: bold;
        }
</style>