<template>
	<div class="page">
		<appnavbar left="User Management / View User / Edit User" :canBack="1" />
		<div class="body">
			<apppagetitle txt="Edit User" style="margin-bottom:30px;" />
			<!-- profile -->
			<div class="profile">
				<!-- left -->
				<div class="left">
					<el-avatar icon="el-icon-user-solid" :size="198" shape="circle" :src="info.image" fit="fill">
					</el-avatar>
					<!-- add btn -->
					<el-link type="primary" style="margin-top:30px;">Add Photo</el-link>
				</div>

				<!-- right -->
				<div class="right">
					<!-- 1 -->
					<div style="font-size: 50px;">{{info.firstName}}</div>
					<!-- 2 -->
					<div style="display: flex;margin-top:20px;width: 70%;">
						<appreaditem keystr="OTP Phone Number" :value="info.phone" style="flex: 1;" />
						<appreaditem keystr="Email Address" :value="info.email" style="flex: 2;" />
					</div>

					<!-- 3 -->
					<div style="display: flex;margin-top:20px;width: 70%;">
						<appreaditem keystr="User Name" :value="info.username" style="flex: 1;" />
						<appreaditem keystr="User SamAccountName Logon" :value="info.description" style="flex: 2;" />

					</div>
				</div>
			</div>

			<!-- device -->
			<editdevice :list.sync="info.deviceList" />

			<!--  -->
			<!-- ip -->
			<editip :list.sync="info.ipList" />
			<!--  -->


			<!-- app -->
			<div class="sessn-item" style="padding-bottom:80px;">
				<!-- title -->
				<div style="display: flex;align-items: center;border-bottom: 1px solid #d6d6d6ff;padding-bottom: 12px;">
					<div class="sesson-titile">TENANTS ACCESS</div>
					<!-- btn -->
					<div
						style="margin-left: 15px; height:30px; flex:1;margin-top: 5px; cursor: pointer; min-width: 268px;">
						<i class="el-icon-circle-plus" style="color:#409eff;font-weight:normal;font-size:20px;"
							@click="addAppHandle"> Add
							New Tenant(s) </i>
					</div>
				</div>

				<!-- tab -->
				<div style="padding: 15px 0;">
					<!-- tenantList:[tenantName,tenantId] -->
					<apptab :items="tabTitles()" :idx="tabIdx" @onTap="tabHandle" v-if="tabTitles().length!=0" />
				</div>
				<!-- tab page -->
				<editapp :list.sync="currentApp.roleList" v-if="tabTitles().length!=0" @delapp="delApp" />

				<!-- btn -->
				<div style="display: flex;align-items: center;margin-top: 40px;">
					<appbutton color="#007aff" label="Submit for Approval" @click.native="submitHandle" />
					<div style="width: 40px;"></div>
					<appbutton @click.native="cancelHandle" color="#007aff" label="Cancel" />
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import {
		userupdate
	} from "../../api/user_api.js"

	import editdevice from "./view/edit_device.vue";
	import editip from "./view/edit_ip.vue";
	import editapp from "./view/edit_app.vue";

	export default {
		components: {
			editdevice,
			editip,
			editapp
		},
		mounted() {
			let row = this.$route.query;
			let {
				deviceList,
				ipList
			} = row;
			for (let obj of deviceList) {
				obj.name = obj.deviceName;
			}
			for (let obj of ipList) {
				obj.name = obj.ipName;
			}
			this.info = row;

			this.currentApp = this.info.tenantList[0];
		},

		data() {
			return {
				info: {},
				tabIdx: 0,
				currentApp: {},
			};
		},
		methods: {
			cancelHandle() {
				this.$router.go(-1);
			},
			submitHandle() {
				let {
					deviceList,
					ipList,
					tenantList
				} = this.info;

				for (let obj of deviceList) {
					let {
						deviceId,
						startDate
					} = obj;
					if (deviceId.length == 0 || startDate.length == 0) {
						this.showEmptyMsg()
						return;
					}
				}
				for (let obj of ipList) {
					let {
						ipId,
						startDate
					} = obj;
					if (ipId.length == 0 || startDate.length == 0) {
						this.showEmptyMsg()
						return;
					}
				}

				for (let obj of tenantList) {
					let roleList = obj.roleList;
					for (let role of roleList) {
						let {
							startDate,
							roleId,
							roleName,
							branchId,
							branchName,
						} = role;
						if (startDate.length == 0 ||
							roleId.length == 0 ||
							roleName.length == 0 ||
							branchId.length == 0 ||
							branchName.length == 0) {
							this.showEmptyMsg()
							return;
						}
					}
				}
				this.netUserUpdate();
			},

			showEmptyMsg() {
				this.$message.error("请填写必要字段");
			},

			tabHandle(idx) {
				this.tabIdx = idx;
				this.currentApp = this.info.tenantList[idx];
			},
			addAppHandle() {
				let app = {
					tenantName: "szw",
					roleList: [{
						startDate: "",
						endDate: "",
						roleId: "",
						roleName: "",
						branchId: "",
						branchName: "",
					}]
				}
				this.info.tenantList.push(app)
				this.tabIdx = this.info.tenantList.length - 1;
				this.currentApp = app
			},
			tabTitles() {
				let {
					tenantList
				} = this.info;
				if (tenantList == undefined || tenantList.length == 0) {
					return [];
				}
				return tenantList.map((obj) => obj.tenantName);
			},
			delApp() {
				let arr = this.info.tenantList;
				let idx = arr.indexOf(this.currentApp);
				this.info.tenantList.splice(idx, 1)
				// 
				if (this.info.tenantList.length > 0) {
					if (idx == 0) {
						this.tabHandle(0)
					} else {
						this.tabHandle(idx - 1)
					}
				}
			},
			// net
			netUserUpdate() {
				let {
					authUserId
				} = this.info
				userupdate(authUserId, this.info)
					.then(() => {
						this.$message.success("Successful Operation");
						setTimeout(() => {
							this.$router.replace({
								path: "/userlist",
							});
						}, 2000);
					})
					.catch((e) => {
						this.$message.error(e);
					});
			},
		},
	};
</script>


<style scoped>
	.page {
		height: 100vh;
		overflow-y: auto;
	}

	.body {
		padding: 0 40px;
	}

	.profile {
		display: flex;
	}

	.left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.right {
		flex: 1;
		padding: 0 80px;
	}

	.sessn-item {
		margin-top: 20px;
	}

	.sesson-titile {
		font-size: 25px;
		font-weight: bold;
	}
</style>
