<template>
	<div class="page">
		<appnavbar left="User Management / View User" :canBack="1" />
		<div class="body">
			<apppagetitle txt="View User" style="margin-bottom:30px;" />
			<!-- profile -->
			<div class="profile">
				<!-- left -->
				<div class="left">
					<el-image :src="info.image" fit="cover" :lazy="true"
						style="width: 198px;height: 198px;border-radius: 50%;overflow: hidden;">
					</el-image>
					<!-- add btn -->
					<el-link type="primary" style="margin-top:30px;">Add Photo</el-link>
				</div>

				<!-- right -->
				<div class="right">
					<!-- 1 -->
					<div style="font-size: 50px;">{{info.name}}</div>
					<!-- 2 -->
					<div style="display: flex;align-items: center;margin-top:20px;
                                                width: 70%;">
						<appreaditem keystr="OTP Phone Number" :value="info.phone" style="flex: 1;" />
						<appreaditem keystr="Email Address" :value="info.email" style="flex: 2;" />
					</div>

					<!-- 3 -->
					<div style="display: flex;align-items: center;margin-top:20px;
                                        width: 70%;">
						<appreaditem keystr="User Name" :value="info.userName" style="flex: 1;" />
						<appreaditem keystr="User SamAccountName Logon" :value="info.description" style="flex: 2;" />

					</div>
				</div>
			</div>
			<!-- device -->
			<readdevice :items="info.deviceList" />
			<!-- ip -->
			<readip :items="info.ipList" />
			<!-- app -->

			<readapp :items="info.tenantList" />
			<!-- detial log -->
			<readlog />

			<!-- btn -->
			<div style="display: flex;align-items: center;margin-top: 40px;">
				<appbutton color="#007aff" label="Edit User" @click.native="editHandle" />
				<div style="width: 40px;"></div>
				<appbutton color="red" label="Terminate Session" @click.native="delSessionHandle" />
				<div style="width: 40px;"></div>
				<appbutton color="red" label="Terminate User" @click.native="delHandle" />
			</div>

		</div>
	</div>
</template>

<script>
	import {
		userdetail,
		userdel,
		usersessiondel
	} from "@/api/user_api.js";
	import readdevice from "./view/read_device.vue";
	import readip from "./view/read_ip.vue";
	import readlog from "./view/read_log.vue";
	import readapp from "./view/read_app.vue";
	export default {
		mounted() {
			let {
				id
			} = this.$route.query;
			this.id = id;
			if (this.id == undefined || this.id.length == 0) {
				this.$message.error("data error");
				setTimeout(() => {
					this.$router.go(-1);
				}, 2000);
				return;
			}
			// this.netUserDetail();
		},
		components: {
			readdevice,
			readip,
			readapp,
			readlog,
		},
		data() {
			return {
				id: "",
				tenantList: [],
				info: {},
			};
		},
		methods: {
			netUserDetail() {
				let self = this;
				userdetail(this.id)
					.then((response) => {
						self.info = response;
						self.tenantList = [{
								tenantName: "app1",
								roleList: [{
									roleName: "szw0",
									branchName: "szw1",
									creatorName: "szw2",
									approvedAt: "szw3",
									startDate: "szw4",
									endDate: "szw5",
									statusName: "szw6",
								}, ],
							},
							{
								tenantName: "app2",
								roleList: [{
									roleName: "app2000000000",
									branchName: "szw1",
									creatorName: "szw2",
									approvedAt: "szw3",
									startDate: "szw4",
									endDate: "szw5",
									statusName: "szw6",
								}, ],
							},
						];
					})
					.catch((e) => {
						self.list = [];
						console.error(e);
					});
			},
			editHandle() {
				this.$router.push({
					path: "/useredit",
					query:this.info,
				});
			},
			delHandle() {
				this.showConfirm("Are you sure you delete ?", () => {
					this.netUsereDel();
				});
			},
			delSessionHandle() {
				this.showConfirm("Are you sure you delete ?", () => {
					this.netUsereSessionDel();
				});
			},
			netUsereDel() {
				userdel(this.id)
					.then(() => {
						this.$message.success("Successful Operation");
						setTimeout(() => {
							this.$router.replace({
								path: "/rolelist",
							});
						}, 2000);
					})
					.catch((e) => {
						this.$message.error(e);
					});
			},
			netUsereSessionDel() {
				usersessiondel(this.id)
					.then(() => {
						this.$message.success("Successful Operation");
						setTimeout(() => {
							this.$router.replace({
								path: "/userlist",
							});
						}, 2000);
					})
					.catch((e) => {
						this.$message.error(e);
					});
			},
		},
	};
</script>


<style scoped>
	.page {
		height: 100vh;
		overflow-y: auto;
	}

	.body {
		padding: 0 40px;
		padding-bottom: 30px;
	}

	.profile {
		display: flex;
	}

	.left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.right {
		flex: 1;
		padding: 0 80px;
	}

	.sessn-item {
		margin-top: 20px;
	}

	.sesson-titile {
		font-size: 25px;
		font-weight: bold;
	}
</style>
