<template>
	<div class="view">
		<!-- table -->
		<el-table :data="list" @row-click="cellSelectHandle" style="flex: 1;" highlight-current-row>
			<el-table-column prop="firstName" width="290">
				<template #header>
					<div style="font-size: 17px;color: #080808ff;padding-left: 10px;">USERNAME</div>
				</template>
			</el-table-column>

			<el-table-column prop="lastName">
				<template #header>
					<div style="font-size: 17px;color: #080808ff;padding-left: 10px;">FULL NAME</div>
				</template>
			</el-table-column>
		</el-table>
		<!-- btn -->
		<div style="display: flex;justify-content: center;align-items: center;padding:20px 40px;">
			<div class="btn" @click="confirmHandle">CONFIRM</div>
		</div>
	</div>
</template>
<script>
	import {
		userlistpop
	} from "../../api/user_api.js"
	export default {
		mounted() {
			this.netFetchList()
		},
		data() {
			return {
				list: [],
				row: undefined,
			}
		},
		methods: {
			netFetchList() {
				userlistpop().then(res => {
					this.list = res;
				}).catch(e => {
					console.log(e)
				})
			},
			cellSelectHandle(row) {
				this.row = row;
			},
			confirmHandle() {
				if (this.row == undefined) {
					this.$message.error("Must Select One Data");
				} else {
					this.$emit("selectRow",this.row);
				}
			}
		}
	}
</script>

<style scoped>
	.view {
		padding: 20px;
		background-color: white;
		height: 70vh;
		overflow-y: auto;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
	}

	.btn {
		font-size: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid red;
		border-radius: 8px;
		height: 43px;
		width: 40%;
		border: 1px solid #007affff;
		color: #007affff;
		cursor: pointer;
	}
</style>
