<template>
	<div class="page">
		<!-- table -->
		<el-table :data="list" @row-click="cellSelectHandle">
			<el-table-column prop="name" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[0]" :idx="0" label="USER ACCOUNT NAME" />
				</template>
				<template slot-scope="scope">
					<div style="display: flex;align-items: center;">
						<el-avatar :size="40" :src="scope.row['imgage']" style="margin-right: 12px;"></el-avatar>
						<div style="font-size: 14px;">{{scope.row["name"]}}</div>
					</div>
				</template>
			</el-table-column>

			<el-table-column prop="email" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[1]" :idx="1" label="EMAIL ADDRESS" />
				</template>
			</el-table-column>

			<el-table-column prop="phone" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[2]" :idx="2" label="OTP PHONE" />
				</template>
			</el-table-column>

			<el-table-column prop="role" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[3]" :idx="3" label="ROLE" />
				</template>
			</el-table-column>

			<el-table-column prop="branch" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[4]" :idx="4" label="REQUESTED BY" />
				</template>
			</el-table-column>

			<el-table-column prop="branch" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[5]" :idx="5" label="BRANCH" />
				</template>
			</el-table-column>

			<el-table-column prop="approvedBy" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[6]" :idx="6" label="APPROVER" />
				</template>
			</el-table-column>

			<el-table-column prop="startDate" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[7]" :idx="7" label="START DATE" />
				</template>
			</el-table-column>

			<el-table-column prop="endDate" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[8]" :idx="8" label="END DATE" />
				</template>
			</el-table-column>
			<el-table-column prop="approvalStatus" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[9]" :idx="9" label="APPROVAL STATUS" />
				</template>
			</el-table-column>

		</el-table>

	</div>
</template>

<script>
	import {
		userlist
	} from "@/api/user_api.js";

	export default {
		props: ["kw"],
		watch: {
			kw: {
				handler: function(nl, ol) {
					console.log(ol, nl);
					this.fi["_keyword"] = nl;
					this.list = [];
					this.netUserList();
				},
			},
		},
		mounted() {
			this.sortInit();
			this.netUserList();
		},
		data() {
			return {
				clientId: "",
				fi: {
					_page: 1,
					_pageSize: 50,
					_keyword: undefined,
					clientId: undefined,
					period: undefined,
					_orderby: undefined,
				},
				sortkeys: [
					"name",
					"email",
					"phone",
					"role",
					"branch",
					"createdBy",
					"approvedBy",
					"startDate",
					"endDate",
					"approvalStatus",
				],
				list: [],
				colsStatus: [0, 0, 0, 0, 0, 0, 0, 0, 0],
				tabIdx: 0,
			};
		},
		methods: {
			sortInit() {
				let self = this;
				this.$bus.$on("sortHandle", (idx, e) => {
					let arr = [0, 0, 0, 0, 0, 0];
					arr[idx] = e;
					self.colsStatus = arr;

					self.fi["period"] = self.sortkeys[idx];
					if (e == 1) {
						self.fi["_orderby"] = `${self.sortkeys[idx]} asc`;
					} else {
						self.fi["_orderby"] = `${self.sortkeys[idx]} desc`;
					}
					self.list = [];
					self.netUserList();
				});
			},
			netUserList() {
				let self = this;
				userlist(this.fi)
					.then((response) => {
						let {
							list
						} = response;
						self.list = list;
						console.log("============userlist==================");
						console.log(response);
						console.log("====================================");
					})
					.catch((e) => {
						self.list = [];
						console.error(e);
					});
			},
			cellSelectHandle(row) {
				this.$router.push({
					path: "/userread",
					query: {
						id: row["_id"],
					},
				});
			},
		},
	};
</script>

<style>
	.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar-thumb {
		background-color: #999999 !important;
		height: 10px;
		border-radius: 5px;
	}

	.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar {
		background-color: #ebebeb !important;
		height: 10px;
	}

	.el-table th.el-table__cell>.cell {
		padding-left: 0 !important;
	}

	/* 滑块颜色 */
</style>

<style scoped>
</style>
