<template>
  <div class="page">
    <!-- table -->
    <el-table
      :data="list"
      @row-click="cellSelectHandle"
    >
      <el-table-column
        prop="name"
        min-width="230"
      >
        <template #header>
          <apptabletitle
            :status="colsStatus[0]"
            :idx="0"
            label="USER ACCOUNT NAME"
          />
        </template>
        <template slot-scope="scope">
          <div style="display: flex;align-items: center;">
            <el-avatar
              :size="40"
              :src="scope.row['imgage']"
              style="margin-right: 12px;"
            ></el-avatar>
            <div style="font-size: 14px;">{{scope.row["name"]}}</div>
          </div>
        </template>
      </el-table-column>

      <el-table-column
        prop="roleName"
        min-width="230"
      >
        <template #header>
          <apptabletitle
            :status="colsStatus[1]"
            :idx="1"
            label="ROLE"
          />
        </template>
      </el-table-column>

      <el-table-column
        prop="branchName"
        min-width="230"
      >
        <template #header>
          <apptabletitle
            :status="colsStatus[2]"
            :idx="2"
            label="BRANCH"
          />
        </template>
      </el-table-column>

      <el-table-column
        prop="approverId"
        min-width="230"
      >
        <template #header>
          <apptabletitle
            :status="colsStatus[3]"
            :idx="3"
            label="REQUESTED BY"
          />
        </template>
      </el-table-column>

      <el-table-column
        prop="approvedAt"
        min-width="230"
      >
        <template #header>
          <apptabletitle
            :status="colsStatus[4]"
            :idx="4"
            label="REQUEST DATE"
          />
        </template>
      </el-table-column>

      <el-table-column
        prop="operationType"
        min-width="230"
      >
        <template #header>
          <apptabletitle
            :status="colsStatus[5]"
            :idx="5"
            label="ACTION"
          />
        </template>
      </el-table-column>

    </el-table>

  </div>
</template>

<script>
import { approvaluserlist } from "@/api/user_api.js";

export default {
  props: ["kw"],
  watch: {
    kw: {
      handler: function (nl, ol) {
        console.log(ol, nl);
        this.fi["_keyword"] = nl;
        this.list = [];
        this.netUserList();
      },
    },
  },
  mounted() {
    this.sortInit();
    this.netUserList();
  },
  data() {
    return {
      clientId: "",
      fi: {
        _page: 1,
        _pageSize: 50,
        _keyword: undefined,
        clientId: undefined,
        period: undefined,
        _orderby: undefined,
      },
      sortkeys: [
        "name",
        "roleName",
        "branchName",
        "approverId",
        "approvedAt",
        "operationType",
      ],
      list: [],
      colsStatus: [0, 0, 0, 0, 0, 0, 0, 0, 0],
      tabIdx: 0,
    };
  },
  methods: {
    sortInit() {
      let self = this;
      this.$bus.$on("sortHandle", (idx, e) => {
        let arr = [0, 0, 0, 0, 0, 0];
        arr[idx] = e;
        self.colsStatus = arr;

        self.fi["period"] = self.sortkeys[idx];
        if (e == 1) {
          self.fi["_orderby"] = `${self.sortkeys[idx]} asc`;
        } else {
          self.fi["_orderby"] = `${self.sortkeys[idx]} desc`;
        }
        self.list = [];
        self.netUserList();
      });
    },
    netUserList() {
      let self = this;
      approvaluserlist(this.fi)
        .then((response) => {
          let { list } = response;
          self.list = list;
          console.log("============approvaluserlist=====================");
          console.log(response);
          console.log("====================================");
        })
        .catch((e) => {
          self.list = [];
          console.error(e);
        });
    },
    cellSelectHandle(row) {
      this.$router.push({
        path: "/userapprovaladd",
        query: {
          info: row,
        },
      });
    },
  },
};
</script>

<style>
.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar-thumb {
  background-color: #999999 !important;
  height: 10px;
  border-radius: 5px;
}

.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar {
  background-color: #ebebeb !important;
  height: 10px;
}

.el-table th.el-table__cell > .cell {
  padding-left: 0 !important;
}

/* 滑块颜色 */
</style>

<style scoped>
</style>