.swiper-slide{width:auto!important}.swiper-container{margin-left:0!important}.app-body[data-v-661b8cb0]{margin-top:20px;overflow-x:auto;display:flex;justify-content:flex-start}.app-body[data-v-661b8cb0]::-webkit-scrollbar{width:0!important;height:0!important}