.page[data-v-c7539184]{height:100vh;display:flex;flex-direction:column}.body[data-v-c7539184]{flex:1;padding:0 40px;display:flex;flex-direction:column;padding-bottom:30px}@media screen and (max-width:1180px){.page[data-v-c7539184]{flex:1}}