.body[data-v-aee4e7ea],.page[data-v-aee4e7ea]{display:flex;flex-direction:column;flex:1}.body[data-v-aee4e7ea]{padding:0 40px;padding-bottom:30px}@media screen and (max-width:1180px){.page[data-v-aee4e7ea]{flex:1}}