<template>
	<div class="page">
		<!-- table -->
		<el-table :data="list" @row-click="cellSelectHandle">
			<el-table-column prop="name" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[0]" :idx="0" label="ROLE NAME" />
				</template>
			</el-table-column>

			<el-table-column prop="creatorName" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[1]" :idx="1" label="CREATE BY" />
				</template>
			</el-table-column>

			<el-table-column prop="approvedName" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[2]" :idx="2" label="APPROVER" />
				</template>
			</el-table-column>

			<el-table-column prop="startDate" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[3]" :idx="3" label="START DATE" />
				</template>
			</el-table-column>

			<el-table-column prop="endDate" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[4]" :idx="4" label="END DATE" />
				</template>
			</el-table-column>

			<el-table-column prop="statusCode" min-width="230">
				<template #header>
					<apptabletitle :status="colsStatus[5]" :idx="5" label="APPROVAL STATUS" />
				</template>
				<template slot-scope="scope">
					<el-button type="text" size="small">{{scope.row["statusName"]}}</el-button>
				</template>
			</el-table-column>

		</el-table>

	</div>
</template>

<script>
	import {
		rolelist
	} from "@/api/role_api.js";
	export default {
		props: ["kw"],
		watch: {
			kw: {
				handler: function(nl, ol) {
					console.log(ol, nl);
					this.fi["_keyword"] = nl;
					this.list = [];
					this.netRoleList();
				},
			},
		},
		mounted() {
			this.sortInit();
			this.netRoleList();
		},
		data() {
			return {
				clientId: "",
				fi: {
					_page: 1,
					_pageSize: 50,
					_keyword: undefined,
					clientId: undefined,
					period: undefined,
					_orderby: undefined,
				},
				sortkeys: [
					"name",
					"creatorName",
					"approvedName",
					"startDate",
					"endDate",
					"statusCode",
				],
				list: [],
				colsStatus: [0, 0, 0, 0, 0, 0],
				tabIdx: 0,
			};
		},
		methods: {
			sortInit() {
				let self = this;
				this.$bus.$on("sortHandle", (idx, e) => {
					let arr = [0, 0, 0, 0, 0, 0];
					arr[idx] = e;
					self.colsStatus = arr;

					self.fi["period"] = self.sortkeys[idx];
					if (e == 1) {
						self.fi["_orderby"] = `${self.sortkeys[idx]} asc`;
					} else {
						self.fi["_orderby"] = `${self.sortkeys[idx]} desc`;
					}
					self.list = [];
					self.netRoleList();
				});
			},
			netRoleList() {
				let self = this;
				rolelist(this.fi)
					.then((response) => {
						let {
							list
						} = response;
						self.list = list;
						console.log("============数据========================");
						console.log(response);
						console.log("====================================");
					})
					.catch((e) => {
						self.list = [];
						console.error(e);
					});
			},
			cellSelectHandle(row) {
				//该行的数据
				console.log(row);
				this.$router.push({
					path: "/roleread",
					query: {
						id: row["_id"],
					},
				});
			},
		},
	};
</script>

<style>
	.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar-thumb {
		background-color: #999999 !important;
		height: 10px;
		border-radius: 5px;
	}

	.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar {
		background-color: #ebebeb !important;
		height: 10px;
	}

	.el-table th.el-table__cell>.cell {
		padding-left: 0 !important;
	}

	/* 滑块颜色 */
</style>

<style scoped>
</style>
