<template>
	<div class="page">
		<appnavbar left="Role Management / Add New Role" :canBack="1" />
		<div class="body">
			<div style="flex: 1;">
				<apppagetitle txt="Add New Role" />
				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appinput title="Role Name" :must="1" :value.sync="info.name" style="flex:1;" />
					<div style="width: 40px;"></div>
					<appselectinput title="Tenant" :must="1" :value.sync="info.tenantId" :items="apps" showkey="name"
						style="flex:1;" />
				</div>

				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appdateinput title="Role Start Date" :must="1" :value.sync="info.startDate" style="flex:1;" />
					<div style="width: 40px;"></div>
					<appdateinput title="Role End Date (optional)" :must="0" :value.sync="info.endDate" :items="apps"
						style="flex:1;" />
				</div>

			</div>

			<!-- btn -->
			<div style="display: flex;align-items: center;margin-top: 40px;">
				<appbutton color="#007aff" label="Submit for Approval" @click.native="saveHandle" />
				<div style="width: 40px;"></div>
				<appbutton @click.native="cancelHandle" color="#007aff" label="Cancel" />
			</div>

		</div>

	</div>
</template>

<script>
	import {
		roleupdate
	} from "../../api/role_api.js"
	import {
		tenantlist
	} from "../../api/app_api.js"
	export default {
		mounted() {
			this.info = this.$route.query;
			this.netAppsList()
		},
		data() {
			return {
				apps: [],
				info: {
					name: "",
					tenantId: "",
					startDate: "",
					endDate: "",
				},
			};
		},
		methods: {
			netAppsList() {
				tenantlist().then(res => {
					let {
						list
					} = res;
					this.apps = list;
				}).catch(e => {
					this.$message.error(e)
				})
			},

			saveHandle() {
				let {
					name,
					tenantId,
					startDate
				} = this.info;
				if (name.length != 0 && tenantId.length != 0 && startDate.length != 0) {
					this.netRoleUpdate();
				} else {
					this.$message.error("请填写必要字段");
				}
			},
			cancelHandle() {
				this.$router.go(-1);
			},

			netRoleUpdate() {
				let {
					_id
				} = this.info;
				roleupdate(_id, this.info)
					.then(() => {
						this.$message.success("Successful Operation");
						setTimeout(() => {
							this.$router.replace({
								path: "/rolelist",
							});
						}, 2000);
					})
					.catch((e) => {
						this.$message.error(e);
					});
			},
		},
	};
</script>




<style scoped>
	.page {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.body {
		flex: 1;
		padding: 0 40px;
		display: flex;
		flex-direction: column;
		padding-bottom: 30px;
	}
</style>
