<template>
	<div class="page">
		<appnavbar left="Role Management / Edit Role Approval" :canBack="1" />
		<div class="body">

			<div style="flex: 1;">
				<apppagetitle txt="Edit Tenant Approval" />
				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreaditem keystr="Requested By" :value="info['creatorName']" />
					<div style="width: 40px;"></div>
					<appreaditem keystr="Approved By" :value="info['approverName']" />
				</div>

				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreadinput title="Role Name" :oldv="existingData.name" :newv="newData.name" />
					<div style="width: 40px;"></div>
					<appreadinput title="Tenant" :oldv="oldapp.name" :newv="newapp.name" />
				</div>
				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreadinput title="Role Start Date" :oldv="existingData.startDate" :newv="newData.startDate" />
					<div style="width: 40px;"></div>
					<appreadinput title="Role End Date" :oldv="existingData.endDate" :newv="newData.endDate" />
				</div>

			</div>

			<!-- btn -->
			<div style="display: flex;align-items: center;margin-top: 40px;">
				<appbutton color="#007aff" label="Approve Edit Role" @click.native="passHandle" />
				<div style="width: 40px;"></div>
				<appbutton @click.native="rejectHandle" color="red" label="Reject Edit Role" />
			</div>

		</div>

	</div>
</template>

<script>
	import {
		rolepass,
		rolereject
	} from "../../api/role_api.js";
	import {
		tenantdetail
	} from "../../api/app_api.js"
	export default {

		mounted() {
			let {
				info
			} = this.$route.query;

			if (info == undefined) {
				this.$message.error("data error");
				setTimeout(() => {
					this.$router.go(-1);
				}, 2000);
				return;
			}
			let {
				approval
			} = info;
			this.info = info;
			this.newData = approval["newData"];
			this.existingData = approval["existingData"];
			
			this.netOldAppDetail()
			this.netNewAppDetail()
		},
		data() {
			return {
				id: "",
				info: {},
				existingData:{},
				newData:{},
				
				oldapp: {},
				newapp: {}
			};
		},
		methods: {
			netOldAppDetail() {
				let {tenantId} = this.existingData;
				tenantdetail(tenantId).then(res => {
					this.oldapp = res;
				}).catch(e => {
					console.log(e)
				})
			},
			netNewAppDetail() {
				let {tenantId} = this.newData;
				tenantdetail(tenantId).then(res => {	
				this.newapp = res;
				}).catch(e => {
					console.log(e)
				})
			},

			passHandle() {
				let {
					_id
				} = this.info;
				rolepass(_id).then(() => {
					this.$message.success('Successful Operation');
					setTimeout(() => {
						this.$router.replace({
							path: "/rolelist"
						})
					}, 2000);
				}).catch((e) => {
					this.$message.error(e);
				});
			},
			rejectHandle() {
				let {
					_id
				} = this.info;
				rolereject(_id).then(() => {
					this.$message.success('Successful Operation');
					setTimeout(() => {
						this.$router.replace({
							path: "/rolelist"
						})
					}, 2000);
				}).catch((e) => {
					this.$message.error(e);
				});
			}
		},
	};
</script>




<style scoped>
	.page {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.body {
		flex: 1;
		padding: 0 40px;
		display: flex;
		flex-direction: column;
		padding-bottom: 30px;
	}
</style>
