<template>
	<div class="page">
		<appnavbar left="Role Management / New Role Approval" :canBack="1" />
		<div class="body">

			<div style="flex: 1;">
				<apppagetitle txt="Add New Role Approval" />
				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreaditem keystr="Requested By" :value="info['creatorName']" />
					<appreaditem keystr="Approved By" :value="info['approvedId']" />
					<div style="flex:1" />
				</div>
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreaditem keystr="Role Name" :value="info.name" />
					<appreaditem keystr="Role Start Date" :value="info.startDate" />
					<appreaditem keystr="Role End Date" :value="info.endDate" />
				</div>

			</div>

			<!-- btn -->
			<div style="display: flex;align-items: center;margin-top: 40px;">
				<appbutton color="#007aff" label="Approve Add New Role" @click.native="passHandle" />
				<div style="width: 40px;"></div>
				<appbutton @click.native="rejectHandle" color="red" label="Reject Add New Role" />
			</div>



		</div>

	</div>
</template>

<script>
	import {
		rolepass,
		rolereject
	} from "../../api/role_api.js"
	export default {
		mounted() {
			let {
				info
			} = this.$route.query;
			this.info = info;
			if (this.info == undefined) {
				this.$message.error("data error");
				setTimeout(() => {
					this.$router.go(-1);
				}, 2000);
				return;
			}
		},
		data() {
			return {
				id: "",
				info: {},
			};
		},
		methods: {
			passHandle() {
				let {
					_id
				} = this.info;
				rolepass(_id).then(() => {
					this.$message.success('Successful Operation');
					setTimeout(() => {
						this.$router.replace({
							path: "/rolelist"
						})
					}, 2000);
				}).catch((e) => {
					this.$message.error(e);
				});
			},
			rejectHandle() {
				let {
					_id
				} = this.info;
				rolereject(_id).then(() => {
					this.$message.success('Successful Operation');
					setTimeout(() => {
						this.$router.replace({
							path: "/rolelist"
						})
					}, 2000);
				}).catch((e) => {
					this.$message.error(e);
				});
			}
		},
	};
</script>




<style scoped>
	.page {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.body {
		flex: 1;
		padding: 0 40px;
		display: flex;
		flex-direction: column;
		padding-bottom: 30px;
	}
</style>
