<template>
	<div class="page">
		<appnavbar left="Role Management / View Role" :canBack="1" />
		<div class="body">

			<div style="flex: 1;">
				<apppagetitle txt="View Role" />
				<!-- items -->
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreaditem keystr="Requested By" :value="info['creatorName']" />
					<appreaditem keystr="Approved By" :value="info['approvedId']" />
					<div style="flex:1" />
				</div>
				<div style="margin-top: 40px;display: flex;align-items: center;">
					<appreaditem keystr="Role Name" :value="info.name" />
					<appreaditem keystr="Role Start Date" :value="info.startDate" />
					<appreaditem keystr="Role End Date" :value="info.endDate" />
				</div>

			</div>

			<!-- btn -->
			<div style="display: flex;align-items: center;margin-top: 40px;" v-if="info['statusCode']==1">
				<appbutton color="#007aff" label="Back" @click.native="backHandle" />
			</div>
			<div style="display: flex;align-items: center;margin-top: 40px;" v-else>
				<appbutton color="#007aff" label="Edit Role" @click.native="editHandle" />
				<div style="width: 40px;"></div>
				<appbutton color="red" label="Delete Role" @click.native="delHandle" />
			</div>

		</div>

	</div>
</template>

<script>
	import {
		roledetail,
		roledel
	} from "@/api/role_api.js";
	export default {
		mounted() {
			let {
				id
			} = this.$route.query;
			this.id = id;
			if (this.id == undefined || this.id.length == 0) {
				this.$message.error("data error");
				setTimeout(() => {
					this.$router.go(-1);
				}, 2000);
				return;
			}
			this.netRoleDetail();
		},
		data() {
			return {
				id: "",
				info: {},
			};
		},
		methods: {
			backHandle() {
				this.$router.go(-1);
			},
			editHandle() {
				this.$router.push({
					path: "/roleedit",
					query:this.info
				});
			},
			netRoleDetail() {
				let self = this;
				roledetail(this.id)
					.then((response) => {
						self.info = response;
					})
					.catch((e) => {
						self.info = {};
						console.error(e);
					});
			},
			delHandle() {
				this.showConfirm("Are you sure you delete ?", () => {
					this.netRoleDel();
				});
			},
			netRoleDel() {
				roledel(this.id)
					.then(() => {
						this.$message.success("Successful Operation");
						setTimeout(() => {
							this.$router.replace({
								path: "/rolelist",
							});
						}, 2000);
					})
					.catch((e) => {
						this.$message.error(e);
					});
			},
		},
	};
</script>




<style scoped>
	.page {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.body {
		flex: 1;
		padding: 0 40px;
		display: flex;
		flex-direction: column;
		padding-bottom: 30px;
	}
</style>
