<template>
  <div id="app">
    <div style="flex:1">
      <router-view></router-view>
    </div>

  </div>
</template>

<script>
export default {
  name: "App",
};
</script>

<style>
* {
  outline: none;
}
html,
body {
  margin: 0;
  padding: 0;
}

.el-input__inner {
  padding-left: 0 !important;
  border: none !important;
  height: 30px !important;
  background-color: transparent !important;
}
.el-input__suffix {
  display: none !important;
}
</style>

<style scoped>
#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.body {
  width: calc(100% - 320px);
}
.topMenu {
  height: 64px;
  display: none;
  background-color: green;
}

/* ipad */
@media screen and (max-width: 1180px) {
  .leftMenu {
    display: none;
  }
  .topMenu {
    display: block;
  }
  .body {
    width: 100%;
  }
}
/* mobile */
@media screen and (max-width: 750px) {
  .leftMenu {
    display: none;
  }
  .body {
    width: 100%;
  }
  .topMenu {
    display: block;
  }
}
</style>
