<template>
    <div id="apps">
        <!-- sidebar -->
        <LeftMenu class="leftMenu" />
        <!-- body -->
        <div class="body">
            <div class="topMenu">
                <i class="Icon" @click="menuClickHandle">menu</i>
            </div>
            <router-view></router-view>
            <!-- menu -->
            <el-drawer title="我是标题" :visible.sync="openMenu" :with-header="false" direction="ltr">
                <LeftMenu @closedrawer="closeDrawerHandle" />
            </el-drawer>
        </div>
        <!--  -->
    </div>
</template>

<script>
    import LeftMenu from "./components/left_menu.vue";
    export default {
        name: "App",
        components: {
            LeftMenu,
        },
        data() {
            return {
                openMenu: false,
            };
        },

        methods: {
            menuClickHandle() {
                this.openMenu = !this.openMenu;
            },
            closeDrawerHandle() {
                this.openMenu = false;
            }
        },
    };
</script>

<style>
    * {
        outline: none;
    }

    html,
    body {
        margin: 0;
        padding: 0;
    }

    .el-input__inner {
        padding-left: 0 !important;
        border: none !important;
        height: 30px !important;
        background-color: transparent !important;
    }

    .el-input__suffix {
        display: none !important;
    }
</style>

<style scoped>
    #apps {
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .body {
        width: calc(100% - 320px);
		height: 100%;
		display: flex;
		flex-direction: column;
    }

    .topMenu {
        height: 64px;
        display: none;
        background-color: #ffffff;
        padding: 0 20px;
        border-bottom: 1px solid #ebebeb;
    }

    /* ipad */
    @media screen and (max-width: 1180px) {
        .leftMenu {
            display: none;
        }

        .topMenu {
            display: flex;
            align-items: center;
        }

        .body {
            width: 100%;
        }
    }
</style>