<!--
 * @Description: 
 * @Author: LiuJia
 * @Date: 2022-02-14 10:34:44
 * @LastEditors: LiuJia
 * @LastEditTime: 2022-02-14 10:34:44
-->
<template>
  <div class="page-test">
    <div class="left-wrap">菜单</div>

    <div class="right-wrap">

      <div class="box">

        <div class="scroll-box">
          <div class="box-item" v-for="(item,index) in 15" :key="index">
            <div class="small-item">{{index}}</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>

export default {
  components: {

  },

  data () {
    return {

    }
  },

  methods: {

  },

  created () {

  }
}
</script>

<style lang="less" scoped>
@import "~@/styles/variable.less";

*{
  box-sizing: border-box;
  word-break:break-all;
  word-wrap:break-word;
}

.page-test{
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.left-wrap{
  width: 250px;
  height: 100vh;
  background-color: #666;
}

.right-wrap{
  width: calc(100% - 250px);
  height: 100vh;
  background-color: lightcoral;
}

.box{
  width: 100%;
  height: 200px;
  outline: 2px solid #333;
  overflow-x: scroll;
}

.scroll-box{
  width: 5000px;
  height: 100%;
}

.box-item{
  display: inline-block;
  width: 200px;
  height: 100%;
  background-color: lightblue;
  margin-right: 20px;
}

.small-item{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
</style>
