<template>
        <div class="page">
                <div style="font-size: 90px;font-weight: bold;">Log In</div>
                <el-button type="primary" style="width: 330px;margin-top: 20px;font-size: 28px;" size="medium"
                        @click="loginHandle">Login</el-button>
                <div style="margin-top: 20px;" class="info" id="macuuid">Device ID {{divceId}}</div>
                <div class="info" id="localip">Local IP {{localIp}}</div>
                <div class="info" id="publicip">Public IP {{publicIp}}</div>
                <el-button type="primary" size="medium" @click="loadHomePage">go 2 Home</el-button>
        </div>
</template>

<script>
        export default {
                mounted() { },
                data() {
                        return {
                                divceId: "798879778978789",
                                localIp: "127.0.0.1",
                                publicIp: "123.0.0.1",
                        };
                },
                methods: {
                        loginHandle() {
                                // this.$router.replace({
                                //         path: "/",
                                // });
                                this.loadThirdLogin();
                        },

                        loadThirdLogin() {
                                window.location.href =
                                        "https://sso-uat.aap.4bibd.com/auth/realms/sso/protocol/openid-connect/auth?response_type=code&scope=openid+openid+profile&client_id=SSO&redirect_uri=http%3A%2F%2Flocalhost%3A3000&state=e5yIipRUgaVLc99v8cubOvbA6YqOGr5BJFhLrlErCP97yFjxT6&code_challenge=cpmQh94YSXJvdUSUBxYKvkh6w4FwpSyGyh_xhw9v-w0&code_challenge_method=S256&device_id=61a48b86047b1d147743241c&public_ip=118.200.58.94&private_ip=192.168.1.2";
                        },
                        loadHomePage() {
                                this.$router.replace({
                                        path: "/home"
                                })
                        }
                },
        };
</script>


<style scoped>
        .page {
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
        }

        .info {
                text-align: center;
                font-size: 16px;
                font-weight: 800;
        }
</style>